<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日结历史</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="dailyAccountsHistory.css">
</head>

<body ng-app="dailyAccountsHistoryModule">
	<!-- 日结历史 -->
	<div class="dailyAccountsHistory top-line wavy-line" ng-controller="dailyAccountsHistoryQuery">
		<div class="daily-store">			          
			<div class="row">
				<div class="col-xs-4">
					<div class="form-group">
		                <label class="control-label">制单日期：</label>
		                <div class="datepicker-input fn-left">
		                    <input type="text" id="createStartDt" class="form-control modify-input" uib-datepicker-popup readonly ng-model="conditionQueryForm.createStartDt" is-open="startPopupOpened" min-date="minStartDate" max-date="maxStartDate" datepicker-options="startDateOptions" />
		                    <span class="icon_time" ng-click="startOpen()">
		                        <i class="glyphicon glyphicon-calendar"></i>
		                    </span>
		                </div>
		                <div class="datepicker-text fn-left">至</div>
		                <div class="datepicker-input fn-left">
		                    <input type="text" id="createEndDt" class="form-control modify-input" uib-datepicker-popup readonly ng-model="conditionQueryForm.createEndDt" is-open="endPopupOpened" min-date="minEndDate" max-date="maxEndDate" datepicker-options="endDateOptions" />
		                    <span class="icon_time" ng-click="endOpen()">
		                        <i class="glyphicon glyphicon-calendar"></i>
		                    </span>
		                </div>
		            </div>
		        </div>
		        <div class="col-xs-4">
					<button ng-click="" class="btn btn-submit">查询</button>
		        </div>
	        </div>	   
		</div>
		<!-- 商品列表 -->
        <div class="result-list">
            <div class="result-head">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="model-header">
                            <img class="model-img" src="../../resources/images/icon-list.png">
                            <p class="model-title">商品列表</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="result-table">
                <div class="result-table">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th width="18%">日结编号</th>
                                <th width="18%">日结门店</th>
                                <th>日结人员</th>
                                <th width="14%">日结时间</th>
                                <th width="14%">日结金额</th>                            
                                <th width="14%">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p>100000000023401</p>
                                </td>
                                <td>
                                    <p>平庄镇北街区营业厅</p>
                                </td>
                                <td>
                                    <p>王磊</p>
                                </td>
                                <td>
                                    <p>2016-11-01</p>
                                </td>
                                <td>
                                    <p>¥523499.00</p>
                                </td>                             
                                <td>
                                    <button class="btn btn-xs btn-edit"><i class="iconfont">&#xe60b;</i> 详情
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>100000000023401</p>
                                </td>
                                <td>
                                    <p>平庄镇北街区营业厅</p>
                                </td>
                                <td>
                                    <p>王磊</p>
                                </td>
                                <td>
                                    <p>2016-11-01</p>
                                </td>
                                <td>
                                    <p>¥523499.00</p>
                                </td>                             
                                <td>
                                    <button class="btn btn-xs btn-edit"><i class="iconfont">&#xe60b;</i> 详情
                                    </button>
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                    <p class="no-data" ng-if="queryTypeResultList && !queryTypeResultList.length">
                        没有数据
                    </p>
                </div>
                
                <div ng-controller="paginationCtrl" class="text-center page">
                    <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                    <div class="page-num">共<span class="number">10</span>条记录，当前显示第<span class="number">1</span>页</div>
                </div>
            </div>
        </div>
	</div>
	
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/angular-touch.min.js"></script>
    <script src="../../resources/js/angular-animate.min.js"></script>
    <script src="../../resources/js/angular-aria.min.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/ui-bootstrap.js"></script>
    <script src="../../resources/js/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="../../resources/js/lodash.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="dailyAccountsHistory.js"></script>
    </body>
</html>