<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>入退库明细报表</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="inAndOutDetailStatements.css">
</head>

<body ng-app="inventoryTurnoverReportModule">
    <!-- DOM结构开始 -->
    <div class="check top-line wavy-line" ng-controller="conditionResult">
        <!-- 条件查询 -->
        <div class="condition-query fn-clear">
            <p class="condition-query-title fn-left">搜
                <br/>索</p>
            <div class="condition-query-box fn-right">
                <form name="conditionQueryForm" class="form-inline" role="form">
                    <div class="row mb10">
                        <div class="col-xs-3">
                            <div class="form-group" ng-controller="cityCheckCtrl">
                                <label class="control-label">省市：</label>
                                <input type="text" class="form-control" ng-model="checkedAreaName" disabled>
                                <button ng-click="cityCheck()" type="submit" ng-show="isshowcityName" class="btn btn-sm btn-location" ng-cloak><i
                                    class="iconfont">&#xe6cb;</i></button>
                                <div class="city-check-box" ng-show="visible" ng-cloak>
                                    <uib-tabset active="key">
                                        <uib-tab index="1" heading="省份" ng-show="isshowprovinceName">
                                            <div class="city-content">
                                                <li class="city-item" ng-class="{current: $index === provinceIndex}"
                                                    ng-repeat="item in provinces"
                                                    ng-click="handleSelectCity('province', $index, item.commonRegionId, item.commonRegionName)">
                                                    {{item.commonRegionName}}
                                                </li>
                                            </div>
                                        </uib-tab>
                                        <uib-tab index="2" heading="城市" ng-show="isshowcityName">
                                            <div class="city-content">
                                                <li class="city-item" ng-class="{current: $index === cityIndex}"
                                                    ng-repeat="item in citys"
                                                    ng-click="handleSelectCity('city', $index, item.commonRegionId, item.commonRegionName)">
                                                    {{item.commonRegionName}}
                                                </li>
                                            </div>
                                        </uib-tab>
                                    </uib-tabset>
                                </div>
                                <div class="zhezhao" ng-click="clHide()" ng-show="visible" ng-cloak></div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label">品牌：</label>
                                <div class="select-box">
                                    <select class="form-control" ng-model="conditionQueryForm.brandCd" ng-options="item.brandCd as item.brandName for item in allBrandList">
                                        <option value="">全部</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label">机型：</label>
                                <div class="select-box">
                                    <select class="form-control" ng-model="conditionQueryForm.modelCd" ng-options="model.modelCd as model.modelName for model in allModelList">
                                        <option value="">全部</option>
                                    </select>
                                </div>
                            </div> 
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label">品牌名：</label>
                                <input type="text" class="form-control" ng-model="conditionQueryForm.brandName">
                            </div>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label">机型名：</label>
                                <input type="text" class="form-control" ng-model="conditionQueryForm.modelName">
                            </div>
                        </div> 
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label">仓库名：</label>
                                <input type="text" class="form-control" ng-model="conditionQueryForm.storageName">
                            </div>
                        </div>
                        <div class="col-xs-3"></div> 
                        <div class="col-xs-3">
                            <button type="submit" class="btn btn-sm btn-query querybtn" ng-click="orderQuery(curPage)"><i class="iconfont">&#xe600;</i> 查询</button>
                            <a class="btn-queries" ng-click="toggle('isHidden')">更多查询条件</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="moreCondition" ng-show="isHidden">
            <div class="row mb10">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label class="control-label">渠道类型：</label>
                        <div class="select-box">
                            <select class="form-control" ng-model="conditionQueryForm.channelTypeId" ng-options="item.channelTypeId as item.channelTypeName for item in channelTypeList">
                                <option value="">全部</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label class="control-label">自有厅级别：</label>
                        <div class="select-box">
                            <select class="form-control" ng-model="conditionQueryForm.hallLevelId" ng-options="item.hallLevelId as item.hallLevelName for item in myHallList">
                                <option value="">全部</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label">统计日期：</label>
                        <div class="datepicker-input fn-left">
                            <input type="text" id="createStartDt" class="form-control modify-input" uib-datepicker-popup readonly ng-model="conditionQueryForm.createStartDt" is-open="startPopupOpened" min-date="minStartDate" max-date="maxStartDate" datepicker-options="startDateOptions" show-button-bar='false' />
                            <span class="icon_time" ng-click="startOpen()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </div>
                        <div class="datepicker-text fn-left">至</div>
                        <div class="datepicker-input fn-left">
                            <input type="text" id="createEndDt" class="form-control modify-input" uib-datepicker-popup readonly ng-model="conditionQueryForm.createEndDt" is-open="endPopupOpened" min-date="minEndDate" max-date="maxEndDate" datepicker-options="endDateOptions" show-button-bar='false' />
                            <span class="icon_time" ng-click="endOpen()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </div>
                    </div>  
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label class="control-label">专营店星级：</label>
                        <div class="select-box">
                            <select class="form-control" ng-model="boutiqueStarId" ng-options="item.boutiqueStarId as item.boutiqueStarName for item in boutiqueStarList">
                                <option value="">全部</option>
                            </select>
                        </div>
                    </div>
                </div> 
                <div class="col-xs-3">
                    <div class="form-group">
                        <label class="control-label">渠道单元名称：</label>
                        <input type="text" class="form-control" ng-model="conditionQueryForm.channelName">
                    </div>
                </div> 
                <div class="col-xs-3">
                    <div class="form-group">
                        <label class="control-label">渠道单元编码：</label>
                        <input type="text" class="form-control" ng-model="channelNbr" ng-disabled="channelNbr">
                    </div>
                </div> 
                <div class="col-xs-3">
                    <div class="form-group">
                        <label class="control-label">串码：</label>
                        <input type="text" class="form-control" ng-model="conditionQueryForm.instCode">
                    </div>
                </div>   
            </div>
        </div>
        <!-- 结果列表 -->
        <div class="result-list">
            <div class="result-head">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="model-header">
                            <img class="model-img" src="../../resources/images/icon-list.png">
                            <p class="model-title">入退库明细报表</p>
                        </div>
                    </div>
                    <div class="col-xs-8 text-right">
                        <button class="btn btn-xs btn-set"><i class="iconfont">
                        &#xe627;</i> 导出</button>
                    </div>
                </div>
            </div>
            <div class="result-table">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th width="69px">序号</th>
                            <th width="119px">串码</th>
                            <th width="119px">品牌</th>
                            <th width="129px">型号</th>
                            <th width="129px">名称</th>
                            <th width="79px">颜色</th>
                            <th width="99px">RAM_ROM</th>
                            <th width="139px">仓库</th>
                            <th width="104px">经营主体</th>
                            <th width="109px">经营主体编码</th>
                            <th width="139px">渠道单元名称</th>
                            <th width="114px">渠道单元编码</th>
                            <th width="109px">门店类型</th>
                            <th width="109px">入库时间</th>
                            <th width="79px">操作类型</th>   
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in resultList">
                            <td>
                                <p ng-bind="$index+1"></p>
                            </td>
                            <td>
                                <p ng-bind="item.INST_CODE"></p>
                            </td>
                            <td>
                                <p ng-bind="item.BRAN_NAME"></p>
                            </td>
                            <td>
                                <p ng-bind="item.MODEL_NAME"></p>
                            </td>
                            <td>
                                <p ng-bind="item.OFFER_NAME"></p>
                            </td>
                            <td>
                                <p ng-bind="item.COLOR"></p>
                            </td>
                            <td>
                                <p ng-bind="item.RAM_ROM"></p>
                            </td>
                            <td >
                                <p class="overflow-handle" title="{{item.STORAGE_NAME}}" ng-bind="item.STORAGE_NAME"></p>
                            </td>
                            <td>
                                <p ng-bind="item.OPERATOR_NAME"></p>
                            </td>
                            <td>
                                <p ng-bind="item.OPERATOR_CODE"></p>
                            </td>
                            <td>
                                <p class="overflow-handle" title="{{item.CHANNEL_NAME}}" ng-bind="item.CHANNEL_NAME"></p>
                            </td>
                            <td>
                                <p ng-bind="item.CHANNEL_NBR"></p>
                            </td>
                            <td>
                                <p ng-bind="item.SHOP_TYPE"></p>
                            </td>
                            <td>
                                <p ng-bind="item.IN_STOCK_TIME"></p>
                            </td>
                            <td>
                                <p ng-bind="item.OPERATION_TYPE"></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="no-data" ng-if="resultList && !resultList.length" ng-cloak>
                    没有数据
                </p>
            </div>
            <div ng-controller="paginationCtrl" class="text-center page">
                <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="curPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                <div class="page-num">共<span class="number" ng-bind="totalNum"></span>条记录，当前显示第<span class="number" ng-bind="curPage"></span>页</div>
            </div>
        </div>
    </div>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/angular-touch.min.js"></script>
    <script src="../../resources/js/angular-animate.min.js"></script>
    <script src="../../resources/js/angular-aria.min.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/ui-bootstrap.js"></script>
    <script src="../../resources/js/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="../../resources/js/lodash.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../resources/js/mock.js"></script>
    <script src="inAndOutDetailStatements.js"></script>
</body>

</html>
