<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>零售调价</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="retailPriceAdjustment.css">
</head>

<body ng-app="purchaseModule">
    <!-- DOM结构开始 -->
    <div class="purchase top-line wavy-line" ng-controller="stockCheckModuleCtrl as $ctrl">
        <!-- 条件查询 -->
        <div class="condition-query fn-clear" ng-controller="conditionQuery">
            <p class="condition-query-title fn-left">搜
                <br/>索</p>
            <div class="condition-query-box fn-right">
                <form name="conditionQueryForm" class="form-inline" role="form">
                    <div class="row mb10">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">单据号：</label>
                                <input type="text" class="form-control" ng-model="conditionQueryForm.praOrderId">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">制单门店：</label>
                                <div class="select-box">
                                    <select class="form-control" id="retailPriceItem" ng-model="conditionQueryForm.retailPriceItem">
                                        <option value="">全部</option>
                                        <option ng-repeat="item in retailPriceType" value="{{item.retailShopId}}">{{item.retailShopName}}</option>
                                    </select>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">制单日期：</label>
                                <div class="datepicker-input fn-left">
                                    <input type="text" id="startDate" class="form-control modify-input" uib-datepicker-popup readonly ng-model="conditionQueryForm.startDate" is-open="startPopupOpened" min-date="minStartDate" max-date="maxStartDate" datepicker-options="startDateOptions" show-button-bar="false"/>
                                    <span class="icon_time" ng-click="startOpen()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                                <div class="datepicker-text fn-left">至</div>
                                <div class="datepicker-input fn-left">
                                    <input type="text" id="endDate" class="form-control modify-input" uib-datepicker-popup readonly ng-model="conditionQueryForm.endDate" is-open="endPopupOpened" min-date="minEndDate" max-date="maxEndDate" datepicker-options="endDateOptions" show-button-bar="false"/>
                                    <span class="icon_time" ng-click="endOpen()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">制单人：</label>
                                <input type="text" class="form-control" ng-model="conditionQueryForm.staffName">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">状态：</label>
                                <div class="select-box">
                                    <select class="form-control" id="statusItem" ng-model="conditionQueryForm.statusItem">
                                        <option value="">全部</option>
                                        <option ng-repeat="item in statusType" value="{{item.statusCd}}">{{item.statusName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 text-right">
                            <div class="form-group">
                                <button type="submit" class="btn btn-sm btn-query" ng-click="orderQuery()"><i class="iconfont">&#xe600;</i> 查询</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- 结果列表 -->
        <div class="result-list" ng-controller="resultListCtrl">
            <div class="result-head">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="model-header">
                            <img class="model-img" src="../../resources/images/icon-list.png">
                            <p class="model-title">零售调价单列表</p>
                        </div>
                    </div>
                    <div class="col-xs-8 text-right">
                        <button class="btn btn-xs btn-set"><i class="iconfont">
                        &#xe60e;</i> 新零售调价单</button>
                    </div>
                </div>
            </div>
            <div class="result-table">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th width="16%">单据号</th>
                            <th width="22%">制单门店</th>
                            <th width="14%">制单人</th>
                            <th width="14%">制单日期</th>
                            <th width="16%">状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in retailPriceResultList">
                            <td>
                                <p ng-bind="item.praOrderId" class="overflow-handle" title="{{item.praOrderId}}"></p>
                            </td>    
                            <td>
                                <p ng-bind="item.retailShopName" class="overflow-handle" title="{{item.retailShopName}}"></p>
                            </td>
                            <td>
                                <p ng-bind="item.staffName"></p>
                            </td>
                            <td>
                                <p ng-bind="item.createDt"></p>
                            </td>
                            <td>
                                <p ng-bind="item.statusCd | orderTypeFilter"></p>
                            </td>
                            <td>
                                <button class="btn btn-xs btn-edit" ><i class="iconfont">&#xe60d;</i> 修改
                                </button>
                                <button class="btn btn-xs btn-edit" ng-click="retailPriceDetail(item)"><i class="iconfont">&#xe60b;</i> 详情
                                </button>   
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="no-data" ng-if="queryTypeResultList && !queryTypeResultList.length" ng-cloak>
                    没有数据
                </p>
            </div>
        </div>
        <!-- 商品明细弹窗 -->
        <script type="text/ng-template" id="serialNumberModal.html">
            <div class="modal-header">
                <button type="button" class="close iconfont" ng-click="$ctrl.cancel()">&#xe611;</button>
                <h3 class="modal-title" id="serial-number-title"><img class="icon" src="../../resources/images/icon-list1.png">零售调价单详情</h3>
            </div>
            <div class="history-detail-infomation">
                <div class="model-header">
                    <p class="model-detail-title">基本信息</p>
                </div>
                <div class="info-detail-form">
                    <form name="infomationForm" class="form-inline" role="form">
                        <div class="row dashed-line">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <p class="detail-msg"><span>单据号：</span>{{priceRetailAdjustOrder.praOrderId}}</p>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <p class="detail-msg"><span>制单门店：</span>{{priceRetailAdjustOrder.retailShopName}}</p>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <p class="detail-msg"><span>制单人：</span>{{priceRetailAdjustOrder.staffName}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row dashed-line">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <p class="detail-msg"><span>制单日期：</span>{{priceRetailAdjustOrder.createDt}}</p>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <p class="detail-msg"><span>调价原因：</span>{{priceRetailAdjustOrder.reason}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row high30">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <p class="detail-msg"><span>备注：</span>{{priceRetailAdjustOrder.remarks}}</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="serial-number-list">
                <div class="model-header">
                    <p class="model-detailnumber-title">商品零售调价明细</p>
                </div>
                <div class="result-table">
                    <table class="table table-hover table-bordered grey-table">
                        <thead>
                            <tr>
                                <th width="14%">商品编码</th>
                                <th width="10%">商品名称</th>
                                <th width="12%">商品类型</th>
                                <th width="12%">品牌</th>
                                <th width="10%">型号</th>
                                <th width="12%">配置</th>
                                <th width="8%">原零售价</th>
                                <th width="10%">原最低零售价</th>
                                <th width="7%">零售价</th>
                                <th width="9%">最低零售价</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in priceRetailAdjustOrder.priceRetailAdjustItemList">
                                <td>
                                    <p ng-bind="item.offerId" class="overflow-handle" title="{{item.offerId}}"></p>
                                </td>
                                <td>
                                    <p ng-bind="item.offerName"></p>
                                </td>
                                <td>
                                    <p ng-bind="item.categoryName"></p>
                                </td>
                                <td>
                                    <p ng-bind="item.brandName"></p>
                                </td>
                                <td>
                                    <p ng-bind="item.modelName"></p>
                                </td>
                                <td>
                                    <p ng-bind="item.offerConfig" class="overflow-handle" title="{{item.offerConfig}}"></p>
                                </td>
                                <td>
                                    <p ng-bind="item.oldRetailPrice"></p>
                                </td>
                                <td>
                                    <p ng-bind="item.oldRetailPriceLess"></p>
                                </td>
                                <td>
                                    <p ng-bind="item.newRetailPrice"></p>
                                </td>
                                <td>
                                    <p ng-bind="item.newRetailPriceLess"></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="no-data" ng-if="queryTypeResultList && !queryTypeResultList.length" ng-cloak>
                        没有数据
                    </p>
                </div>
                <p class="info">适用门店：<span ng-bind="priceRetailAdjustOrder.retailShopNames"></span></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">关闭</button>
            </div>
        </script>
    </div>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/angular-touch.min.js"></script>
    <script src="../../resources/js/angular-animate.min.js"></script>
    <script src="../../resources/js/angular-aria.min.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/ui-bootstrap.js"></script>
    <script src="../../resources/js/angular-locale_zh-cn.js"></script>
    <script src="../../resources/js/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="../../resources/js/lodash.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../resources/js/mock.js"></script>
    <script src="retailPriceAdjustment.js"></script>
</body>

</html>
