<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>密码重置</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link rel="stylesheet" href="../../resources/css/select.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="resetPassword.css">
</head>

<body>
    <!-- DOM结构开始 -->
    <div class="header-top"></div>
    <!-- step -->
    <div class="step fn-clear" ng-show="stepNum !== 3">
        <li class="step-item item-two fn-left" ng-class="{current: stepNum === 0}">
            <div class="step-icon"></div>
            <div class="step-line"></div>
            <p class="step-title">1.密码重置</p>
        </li>
        <li class="step-item item-two fn-left" ng-class="{current: stepNum === 1}">
            <div class="step-icon"></div>
            <div class="step-line"></div>
            <p class="step-title">2.成功</p>
        </li>
    </div>
    <div class="refund top-line wavy-line" ng-controller="resultCtrl" ng-cloak>        
        <!-- step0 -->
        <div class="step-content" ng-show="stepNum === 0">
            <form id="modifyPwdForm" name="modifyPwdForm" novalidate>
                <div class="lig"><i class="iconfont">&#xe667;</i><input type="text" placeholder="手机号" ng-model="modifyPwdForm.mobileNum"></div>     
                <div class="lig yzm"><i class="iconfont">&#xe66c;</i><input type="text" placeholder="手机验证码" ng-model="modifyPwdForm.checkNum">
                    <input ng-class="{'disabled': isGetcode}" ng-disabled="isGetcode" type="button" class="telyzm " ng-click="getVerifyCode()" ng-model="phoneVerifyText" ng-value="phoneVerifyText" />
                </div>
                <div class="lig"><i class="iconfont">&#xe630;</i><input type="password" placeholder="新密码" ng-model="modifyPwdForm.userPwd" ></div>  
                <div class="lig"><i class="iconfont">&#xe630;</i><input type="password" placeholder="再次输入新密码" ng-model="modifyPwdForm.newPwd" ng-blur="setSurepwd()" >
                    <span class="warn" ng-if="ischecksurepwd"><i class="iconfont">&#xe646;</i>请输入相同密码！</span>
                </div> 
                <button class="nextbtn" ng-disabled="isSurePasswd || ischecksurepwd" ng-click="modifyPwd()">下一步</button>
            </form>
        </div>
        
        <!-- step1 -->
        <div class="step-content" ng-show="stepNum === 2">
            <div class="reset-success"><i class="iconfont">&#xe66d;</i>您密码重置成功！</div>
            <button class="nextbtn" ng-click="successModify()">完成</button>  
        </div>
    </div>
    <script src="../../resources/js/require.js" data-main="entry"></script>
</body>

</html>
