<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>店员配置</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="salesmanManage.css">
</head>

<body ng-app="salesmanManageModule">
    <div class="salesmanManage top-line wavy-line" ng-controller="addAdjustInModalCtrl as $ctrl" >
        <div ng-controller="allQueryCtrl">
            <div class="salesman-info">
                <div class="row mb10">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label">门店所属城市：</label>
                            <p class="detail-label member-name" ng-bind="storeManList.REGION_NAME"></p>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label">门店对应渠道名称：</label>
                            <p class="detail-label member-name overflow-handle" ng-bind="storeManList.CHANNEL_NAME" title={{storeManList.CHANNEL_NAME}}></p>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label class="control-label">对应渠道编码：</label>
                            <p class="detail-label member-name" ng-bind="storeManList.CHANNEL_NBR"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 结果列表 -->
            <div class="result-list" ng-controller="salemanSetupCtrl">
                <div class="result-head">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="model-header">
                                <img class="model-img" src="../../resources/images/icon-salesman.png">
                                <p class="model-title">店员管理</p>
                            </div>
                        </div>
                        <div class="col-xs-8 text-right">
                            <button class="btn btn-xs btn-set" ng-click="addStoreman()"><i class="iconfont">
                                &#xe60e;</i> 新增店员</button>
                            <button class="btn btn-xs btn-set" ng-click="batchDeleteAccount()"><i class="iconfont">
                                &#xe610;</i> 批量删除</button>
                            <button class="btn btn-xs btn-set" ng-click="batchStartAccount()"><i class="iconfont">
                                &#xe613;</i> 批量启用</button>
                            <button class="btn btn-xs btn-set" ng-click="batchStopAccount()"><i class="iconfont">
                                &#xe612;</i> 批量停用</button>
                        </div>
                    </div>
                </div>
                <div class="result-table">
                    <div class="result-table" ng-cloak>
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th width="5%"><input type="checkbox" ng-click="checkAll(isCheckedAll)" ng-model="isCheckedAll"></th>
                                    <th width="6%">姓名</th>
                                    <th width="10%">登录账号</th>
                                    <th width="9%">捆绑手机</th>
                                    <th width="12%">所属门店</th>
                                    <th width="11%">店员角色</th>
                                    <th width="6%">状态</th>
                                    <th width="10%">更新时间</th>
                                    <th>备注</th>
                                    <th width="15%">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in storeResultList">
                                    <td>
                                        <input type="checkbox" name="checkbox{{$index}}" ng-click="check(item, isChecked)" ng-model="isChecked">
                                    </td>
                                    <td>
                                        <p ng-bind="item.STAFF_NAME"></p>
                                    </td>
                                    <td>
                                        <p ng-bind="item.SYSTEM_USER_CODE"></p>
                                    </td>
                                    <td>
                                        <p ng-bind="item.MOBILE_TEL"></p>
                                    </td>
                                    <td>
                                        <p ng-bind="item.RETAIL_SHOP_NAME"></p>
                                    </td>
                                    <td>
                                        <p ng-bind="item.STAFF_ROLE"></p>
                                    </td>
                                    <td>
                                        <p ng-bind="item.STATUS_NAME"></p>
                                    </td>
                                    <td>
                                        <p ng-bind="item.VERSION"></p>
                                    </td>
                                    <td>
                                        <p class="overflow-handle" ng-bind="item.REMARK" title="{{item.REMARK}}"></p>
                                    </td>
                                    <td>
                                        <button class="btn btn-xs btn-edit" ng-click="editStoreman(item)"><i class="iconfont">&#xe61f;</i> 修改
                                        </button>
                                        <button class="btn btn-xs btn-edit" ng-click="batchDeleteAccount(item)"><i class="iconfont">&#xe610;</i> 删除
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="no-data" ng-if="queryTypeResultList && !queryTypeResultList.length">
                            没有数据
                        </p>
                    </div>
                    <div ng-controller="paginationCtrl" class="text-center page">
                        <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                        <div class="page-num">共<span class="number" ng-bind="totalNum || 0"></span>条记录，当前显示第<span class="number" ng-bind="currentPage || 0"></span>页</div>
                    </div>
                </div>

                <!-- 修改 -->
                <script type="text/ng-template" id="detailAccountsModal.html">
                    <div class="modal-header">
                        <button type="button" class="close iconfont" ng-click="$ctrl.cancel()">&#xe611;</button>
                        <h3 class="modal-title" id="serial-number-title"><img class="icon" src="../../resources/images/icon-list1.png">店员信息修改</h3>
                    </div>
                    <div class="history-detail-infomation">
                        <div class="info-detail-form">
                            <form name="infomationForm" class="form-inline admin-change" role="form">
                                <div class="row lh30">
                                    <div class="col-xs-3 text-right">
                                        <p>员工：</p>
                                    </div>
                                    <div class="col-xs-9">
                                        <p ng-bind="$ctrl.items.STAFF_NAME" class="bold"></p>
                                    </div>
                                </div>
                                <div class="row lh30">
                                    <div class="col-xs-3 text-right">
                                        <p>系统账号：</p>
                                    </div>
                                    <div class="col-xs-9">
                                        <p ng-bind="$ctrl.items.SYSTEM_USER_CODE" class="bold"></p>
                                    </div>
                                </div>

                                <div class="row lh30">
                                    <div class="col-xs-3 text-right">
                                        <p>修改密码：</p>
                                    </div>
                                    <div class="col-xs-9">
                                        <div class="form-group-deploy">
                                            <input ng-model="$ctrl.password" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row lh30">
                                    <div class="col-xs-3 text-right">
                                        <p>捆绑手机：</p>
                                    </div>
                                    <div class="col-xs-9">
                                        <div class="form-group-deploy">
                                            <input ng-model="$ctrl.telephone" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row lh30">
                                    <div class="col-xs-3 text-right">
                                        <p>备注：</p>
                                    </div>
                                    <div class="col-xs-9">
                                        <div class="form-group-deploy">
                                            <textarea ng-model="$ctrl.remark"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">关闭</button>
                        <button class="btn btn-submit" type="button" ng-click="$ctrl.ok()">确定</button>
                    </div>
                </script>
            </div>
        </div>
    </div>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/angular-touch.min.js"></script>
    <script src="../../resources/js/angular-animate.min.js"></script>
    <script src="../../resources/js/angular-aria.min.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/ui-bootstrap.js"></script>
    <script src="../../resources/js/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="../../resources/js/lodash.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../resources/js/mock.js"></script>
    <script src="salesmanManage.js"></script>
</body>

</html>
