.addReturned {
    min-height: 20px;
    margin: 10px;
    border-left: 1px solid #d5d4dc;
    border-right: 1px solid #d5d4dc;
    background-color: #fff;
}
.purchase-infomation {
    padding: 5px 0 10px;
    border-bottom: 1px dashed #d2d2d2;
}
.infomation-form {
    margin-top: 8px;
    padding: 0 5px;
}
.result-list {
    padding: 5px 0 0;
    margin-top:10px;
    border-top:1px dashed #d2d2d2;
    background-color: #f8f8f8;
}

.result-head {
    margin-bottom: 5px;
}
.result-table table{
    border-left:0;
    border-right:0;
}
.result-table table th {
    background-color: #a870e0;
    border-bottom-width: 1px !important;
    color: #fff;
    font-weight: 800;
    text-align: center;
    padding: 5px !important;
}
.result-table table tr{
    background: #fff;
}
.result-table table td {
    padding: 2px !important;
    text-align: center;
}

.result-table table td p {
    height: 25px;
    line-height: 25px;
}

.model-header {
    height: 25px;
    line-height: 25px;
    background: #f8f8f8;
}

.model-img {
    float: left;
    width: 20px;
    height: 20px;
    margin: 2px 4px 2px 14px;
}

.model-title {
    color: #8039c6;
    font-size: 14px;
    font-weight: bold;
}
.money{
    display:inline-block;
    margin-right:15px;
    color:#333;
}
.money bold{
    color:#ff0000;
    font-size:16px;
}
.btn-set {
    margin-left: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    border-color: #c899f7;
    color: #333;
    font-size: 12px;
}

.btn-edit:focus,
.btn-edit.focus {
    border-color: #c899f7;
    background-color: #e0c2ff;
    color: #a870e0;
}

.btn-edit:hover {
    border-color: #c899f7;
    background-color: #e0c2ff;
    color: #a870e0;
}

.btn-set .iconfont {
    color: #a870e0;
}

.btn-edit {
    margin-left: 2px;
    padding: 0 6px;
    background-color: #eddbff;
    border-color: #ceaaf2;
    color: #a870e0;
    font-size: 12px;
}

.btn-edit:focus,
.btn-edit.focus {
    border-color: #c899f7;
    background-color: #e0c2ff;
    color: #a870e0;
}

.btn-edit:hover {
    border-color: #c899f7;
    background-color: #e0c2ff;
    color: #a870e0;
}

.btn-edit .iconfont {
    color: #a870e0;
}


.btn-disabled {
    margin-left: 2px;
    padding: 0 6px;
    background-color: #dcdcdc;
    border-color: #dcdcdc;
    color: #bbb;
    font-size: 12px;
}

.btn-disabled:focus,
.btn-disabled.focus {
    background-color: #dcdcdc;
    border-color: #dcdcdc;
    color: #bbb;
}

.btn-disabled:hover {
    background-color: #dcdcdc;
    border-color: #dcdcdc;
    color: #bbb;
}

.btn-disabled .iconfont {
    color: #bbb;
}
.txt-edit{
    width: 78%;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #d5d4dc;
}
.reason{
    padding: 0 0 20px;
}

.form-group.another{
    padding-top:10px;
    padding-bottom:10px;
    background:#f8f8f8;
    border-bottom:1px dashed #d2d2d2;
}
.form-group.other{
    padding-left:120px;
}
.form-group label {
    width: 150px !important;
}
.enter-input {
    display: inline-block;
    width: 80%;
    height: 23px;
    padding: 0 5px;
    line-height: 23px;
    border-radius: 5px;
    border: 1px solid #d5d4dc;
    text-align: center;
}

.btn-keyword {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 25px;
    padding: 0;
    background-color: #a870e0;
    border-color: #a870e0;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    line-height: 25px;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.btn-keyword:focus,
.btn-keyword.focus {
    background-color: #9249db;
    border-color: #9249db;
    color: #fff;
}

.btn-keyword:hover {
    background-color: #9249db;
    border-color: #9249db;
    color: #fff;
}

.form-keyword {
    position: relative;
    width: 100% !important;
    padding-left: 50px;
}

.form-keyword label {
    position: absolute;
    left: 0;
    width: 50px !important;
    line-height: 25px;
    text-align: right;
}

.form-keyword input[type="text"] {
    width: 100% !important;
    height: 25px;
    padding: 0 12px;
    line-height: 25px;
    border-radius: 14px;
}

.btn-goods {
    border-radius: 5px;
}

.btn-queries {
    display: inline-block;
    height: 25px;
    margin-left: -20px;
    line-height: 25px;
    padding-right: 16px;
    background: url('../../resources/images/select_bg.png') no-repeat right center;
    color: #333;
    cursor: pointer;
}

.btn-queries:hover {
    text-decoration: none;
}

.queries-box {
    padding: 10px 15px;
    background-color: #f8f8f8;
    border-bottom: 1px dashed #bfbfbf;
}

.queries-list {
    margin-top: 10px;
}

.queries-title {
    height: 30px;
    padding-left: 20px;
    background-color: #f2efef;
    line-height: 30px;
    color: #999;
    font-weight: 800;
}

.queries-category {
    line-height: 28px;
    border-bottom: 1px dashed #ccc;
}

.queries-category:last-of-type {
    border-bottom: none;
}
.checked-query {
    display: inline-block;
    height: 22px;
    margin-left: 10px;
    padding: 0 5px;
    line-height: 20px;
    border: 1px solid #d2d2d2;
    color: #333;
    cursor: pointer;
}

.checked-query .iconfont {
    margin-left: 4px;
    color: #d2d2d2;
    font-size: 12px;
}

.checked-query:hover {
    border-color: #a870e0;
}

.checked-query:hover .iconfont {
    color: #a870e0;
}

.btn-submit{
    width:auto;
    padding:5px 15px;
}

.detail-title {
    height: 30px;
    line-height: 30px;
    color: #030202;
    font-weight: 800;
}

.detail-item {
    width: 250px;
    height: 30px;
    line-height: 30px;
    color: #999;
    font-weight: 800;
}

.detail-name {
    color: #333;
    font-weight: 800;
}


.modal-body{
    padding:0;
}
.info-form{
    background: #f8f8f8;
}
.info-list{
    font-size:12px;
    margin-left:27px;
    line-height:30px;
}
.grey-color{
    color:#999;
}
.purple-color{
    color:#a870e0;
}
.query-box{
    padding:8px;
    border:1px solid #ddd;
    background: #f8f8f8;
    margin:0 8px;
    border-radius:5px;
}
.get-width{
    width:236px;
    height:26px;
    border-radius: 26px;
    border:1px solid #ddd;
    display: inline-block;
}
.serisTab-list{
    margin:0 8px;
}
.num-list{
    border:1px solid #ddd;
    border-right:0;
    border-bottom:0;
    overflow: hidden;
    margin-bottom: 10px;
}
.num-list li{
    position:relative;
    float: left;
    line-height:28px;
    width:20%;
    border:1px solid #ddd;
    border-top:0;
    border-left:0;
    text-align: center;
    color:#333;
    font-size: 12px;
}
.num-list li span{
    display:inline-block;
    padding:0 5px;
    border-radius: 3px;
    background: #eddbff;
    color:#a870e0;
    margin-right: 8px;
    line-height: 16px;
}
.num-list li .small-delete{
    display:none;
    position:absolute;
    color:#a870e0;
    top:2px;
    right:10px;
}
.num-list li .small-delete:hover{
    text-decoration: none;
}
.num-list li:hover .small-delete{
    display:block;
}
.modal-footer{
    margin-top: 10px;
}

.form-group .detail-msg {
    position: absolute;
    left: 0px;
    width: 100%;
    text-align: left;
}
.form-group .detail-msg span{
    display:inline-block;
    width:120px;
    text-align: right;
}
em{
    font-style: normal;
}
.high60 {
    height: 60px;
}
.mt10{
    margin-top:10px;
}
.mb10{
    margin-bottom:10px;
}
.mt15{
    margin-top:15px;
}
.pd10{
    padding-bottom:10px;
}
.fl{
    display:inline-block;
}
.history-detail-infomation {
    padding: 0 20px 0px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px dashed #bfbfbf;
}
.model-detail-title {
    color: #333;
    font-size: 12px;
    font-weight: bold;
}
.terminal-box {
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}
.form-group {
    padding-left: 150px;
}
.end{
    width:135px;
    height:46px;
    border:1px solid #dcdcdc;
    margin-left:8px;
    text-indent: 9px;
}
.end .p1{
    line-height:21px;
    background: #efefef;
    border-bottom:1px dashed #dcdcdc;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.end .p2{
    line-height:22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.end p span{
    color:#aeaeae;
}
.cost{
    margin-left:8px;
}
.cost .pone{
    margin-bottom: 4px;
}
.cost .spone{
    display:inline-block;
    width:79px;
    line-height: 22px;
    text-align: center;
    background: #24c7b6;
    color:#fff;
    font-size: 12px;
    margin-right: 83px;
    border-radius: 10px;
}
.cost .sptwo{
    display:inline-block;
    width:158px;
    color:#232323;
    font-weight: bold;
    line-height: 22px;
}
.cost .spthree{
    display:inline-block;
    color:#232323;
    font-weight: bold;
    line-height: 22px;
}
.cost .green{
    color:#24c7b6;
    margin-right:9px;
}
.cost .org{
    color:#fe9a36;
    margin-right:9px;
}
.control-label span{
    margin-right:20px;
}
.btn-submit, .btn-cancel{
    margin-top:10px;
}
.table{
    margin-bottom:0px;
}
.dashed-line{
    margin-bottom:0;
}
.info-detail-form{
    padding-top:5px;
}
