/**
 * Auth 丁少华
 * Date 2016-09-06
 */
@font-face {
    font-family: 'iconfont';    /* project id："144758" */
    src: url('http://at.alicdn.com/t/font_pmi1ob406aqt1emi.eot');
    src: url('http://at.alicdn.com/t/font_pmi1ob406aqt1emi.eot') format('embedded-opentype'), url('http://at.alicdn.com/t/font_pmi1ob406aqt1emi.woff') format('woff'), url('http://at.alicdn.com/t/font_pmi1ob406aqt1emi.ttf') format('truetype'), url('http://at.alicdn.com/t/font_pmi1ob406aqt1emi.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont";
    font-size: 14px;
    font-style: normal;
}

body {
    font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #f5f0fa;
    color: #333;
    font-size: 12px;
}

.fn-left {
    float: left;
}

.fn-right {
    float: right;
}

.fn-clear:after {
    display: block;
    clear: both;
    content: '';
    visibility: hidden;
    height: 0;
}

.box-1200 {
    width: 1200px;
    margin: 0 auto;
}

.btn-query {
    width: 80px;
    height: 25px;
    padding: 0;
    background-color: #a870e0;
    border-color: #a870e0;
    border-radius: 15px;
    line-height: 25px;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.btn-query:focus,
.btn-query.focus {
    background-color: #9249db;
    border-color: #9249db;
    color: #fff;
}

.btn-query:hover {
    background-color: #9249db;
    border-color: #9249db;
    color: #fff;
}

.btn-submit,
.btn-cancel {
    border: none;
    font-weight: normal;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 0 5px;
    cursor: pointer;
    line-height: normal;
}

.btn-submit {
    background-color: #ffaa00;
    color: #fff;
    box-shadow: rgba(255, 170, 0, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset;
    background-color: rgb(255, 170, 0);
}

.btn-submit:focus,
.btn-submit.focus {
    background-color: #dc9609;
    color: #fff;
}

.btn-submit:hover {
    background-color: #dc9609;
    color: #fff;
}

.btn-cancel {
    background-color: #ffefce;
    color: #ff7f00;
    border: 1px solid #ffcc00;
    box-shadow: none;
    padding: 4px 19px;
}

.btn-cancel:focus,
.btn-cancel.focus {
    background-color: #f8dda4;
    color: #ff7f00;
}

.btn-cancel:hover {
    background-color: #f8dda4;
    color: #ff7f00;
}

/* 分页 */
.pagination {
    margin: 0;
}

.pagination > li > a,
.pagination > li > span {
    color: #666;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 3px 18px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #b17ce6;
    border-color: #b17ce6;
}

.table {
    margin-bottom: 10px;
}

/* 弹出框 */
.modal-content {
    border-radius: 0;
}

.modal-header {
    background-color: #ffb319;
    padding: 4px 10px;
}

.modal-header .close {
    color: #fff;
    opacity: 1;
    margin-top: 4px;
}

.modal-title {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.modal-title .iconfont {
    margin-right: 6px;
}

.modal-title .icon {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.edit-label {
    width: 100px !important;
    text-align: right;
}

.edit-input {
    width: 200px !important;
}

.mb10 {
    margin-bottom: 10px;
}

.pr50 {
    padding-right: 50px;
}

.modal-footer {
    text-align: center !important;
    padding: 0 0 10px;
    border-top: none;
}

.sweet-alert {
    top: 30%;
}

.sweet-alert h2 {
    font-size: 20px;
    margin: 15px 0 8px;
    line-height: 30px;
}

.sweet-alert button {
    padding: 5px 20px;
    font-size: 14px;
    font-weight: normal !important;
}

.sweet-alert button.cancel {
    background-color: #ffefce !important;
    color: #ff7f00;
}

.la-ball-fall > div {
    width: 8px;
    height: 8px;
}

.confirm {
    background-color: #ffaa00 !important;
}

.form-group {
    width: 100% !important;
    margin: 0 !important;
}

/* 表格固定百分比宽度,不会被内容撑开 */
.table {
    table-layout: fixed;
}

.overflow-handle {
    width: 90%;
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.modal-body {
    max-height: 450px;
    overflow-y: auto;
}

.no-data {
    margin-top: -10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    margin-bottom: 20px;
    color: #ff0000;
    text-align: center;
}

.asterisk {
    position: absolute;
    right: -10px;
    top: 6px;
    color: #ff0000;
}

.top-line {
    position: relative;
}

.top-line::before {
    content: '';
    position: absolute;
    left: -4px;
    top: -2px;
    width: calc(100% + 8px);
    height: 0;
    border-top: 3px solid #a870e0;
}

.wavy-line {
    position: relative;
}

.wavy-line::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 6px;
    background: url('../../resources/images/wavy-line.png') repeat-x 0 0;
}

.dashed-line {
    position: relative;
    height: 30px;
    margin-bottom: 5px;
}

.dashed-line::after {
    content: '';
    position: absolute;
    left: 15px;
    bottom: 0;
    display: block;
    width: calc(100% - 30px);
    border-bottom: 1px dashed #ccc;
}

.form-group {
    position: relative;
    width: 100% !important;
    padding-left: 90px;
}

.form-group label {
    position: absolute;
    left: 0;
    width: 90px !important;
    line-height: 25px;
    text-align: right;
}

.form-group label .iconfont {
    color: #ff0000;
}

.form-group input[type="text"] {
    width: 100% !important;
    height: 25px;
    padding: 0 12px;
    line-height: 25px;
    border-radius: 14px;
}

.form-group .detail-input {
    width: 100% !important;
    height: 25px;
    line-height: 25px;
}

.form-group select {
    width: 100% !important;
    height: 25px;
    padding: 0 12px;
    line-height: 25px;
    border-radius: 14px;
    background: url(../../resources/images/select_bg.png) no-repeat calc(100% - 10px) center;
    background-color: #fff;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.form-group textarea {
    width: 100% !important;
    border-radius: 14px;
}
