<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>填写出库单</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="addTransferOutDepot.css">
</head>

<body ng-app="addTransferOutDepotModule">
    <!-- DOM结构开始 -->
    <div class="addPurchase top-line wavy-line" ng-controller="addPurchaseModalCtrl as $ctrl">
        <!-- 调拨出库单基本信息 -->
        <div class="purchase-infomation" ng-controller="purchaseQueryCtrl">
            <div class="model-header">
                <img class="model-img" src="../../resources/images/icon-list.png">
                <span class="model-title">调拨出库单基本信息</span>
            </div>
            <div class="infomation-form">
                <form name="infomationForm" class="form-inline" role="form">
                    <div class="row dashed-line">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">单据号：</label>
                                <p class="detail-input">1000000000013641</p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">调出日期：</label>
                                <p class="detail-input">2016-11-02 14:23:45</p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">调出门店：</label>
                                <p class="detail-input">中国电信@鼓楼营业厅</p>
                            </div>
                        </div>
                    </div>
                    <div class="row dashed-line">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">调出仓库：</label>
                                <select class="form-control">
                                    <option value="">全部</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">调入门店：</label>
                                <input type="text" class="form-control reduce-width">
                                <button type="submit" class="btn btn-sm btn-searching" ng-click="openStoreQueryType()"><i class="iconfont">&#xe600;</i></button>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">调入仓库：</label>
                                <select class="form-control">
                                    <option value="">全部</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label">备注：</label>
                                <textarea col="" row="10" id="remarks" class="form-control edit-txt" ng-model="modifiedQueryType.remarks"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- 调拨出库商品明细 -->
        <div class="result-list" ng-controller="resultCtrl">
            <div class="result-head">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="model-header">
                            <img class="model-img" src="../../resources/images/icon_yellow.png">
                            <p class="model-title">调拨出库商品明细</p>
                        </div>
                    </div>
                    <div class="col-xs-8 text-right">
                        <button ng-click="addQueryType()" class="btn btn-xs btn-set"><i class="iconfont">
                        &#xe60e;</i> 选择调拨商品
                    </div>
                </div>
            </div>
            <div class="result-table">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th width="12%">商品名称</th>
                            <th width="10%">商品类别</th>
                            <th width="10%">商品品牌</th>
                            <th>商品型号</th>
                            <th width="16%">配置</th>
                            <th width="8%">调整数量</th>
                            <th width="12%">串号</th>
                            <th width="12%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>iphone6s</p>
                            </td>
                            <td>
                                <p>手机</p>
                            </td>
                            <td>
                                <p>苹果</p>
                            </td>
                            <td>
                                <p class="overflow-handle" title="">iphone6s</p>
                            </td>
                            <td>
                                <p>128G</p>
                            </td>
                            <td>
                                <p>1</p>
                            </td>
                            <td>
                                <button ng-click="editQueryType($index, item)" class="btn btn-xs btn-edit">录入串号</button>
                            </td>
                            <td>
                                <button class="btn btn-xs btn-edit"><i class="iconfont">&#xe610;</i> 删除
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>小米电源</p>
                            </td>
                            <td>
                                <p>配件</p>
                            </td>
                            <td>
                                <p>小米</p>
                            </td>
                            <td>
                                <p class="overflow-handle" title="">小米电源</p>
                            </td>
                            <td>
                                <p>2000毫安</p>
                            </td>
                            <td>
                                <input type="number" class="enter-input">
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <button ng-click="saveProcureOrder()" class="btn btn-submit">暂存</button>
                <button class="btn btn-submit">提交</button>
                <button class="btn btn-cancel">取消</button>
            </div>
        </div>
        <!-- 新增一行弹框 -->
        <script type="text/ng-template" id="addNewLine.html">
            <div class="modal-header">
                <button type="button" class="close iconfont" ng-click="$ctrl.cancel()">&#xe611;</button>
                <h3 class="modal-title" id="new-line-title"><img class="icon" src="../../resources/images/icon-list1.png">选择商品</h3>
            </div>
            <div id="new-line-body">
                <!-- 查询 -->
                <div class="queries-box">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="form-keyword">
                                <label class="control-label">关键词：</label>
                                <input type="text" class="form-control reduce-width">
                                <button type="submit" class="btn btn-sm btn-keyword"><i class="iconfont">&#xe600;</i> 查询</button>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <a class="btn-queries" ng-click="$ctrl.toggle('$ctrl.isHidden')">更多查询条件</a>
                        </div>
                        <div class="col-xs-4 text-right">
                            <button type="submit" class="btn btn-sm btn-query btn-goods"><i class="iconfont">&#xe60e;</i> 添加商品</button>
                        </div>
                    </div>
                    <!-- 条件列表 -->
                    <div class="queries-list" ng-controller="queriesCtrl" ng-show="!$ctrl.isHidden">
                        <p class="queries-title">所有分类 >
                            <span class="checked-query" ng-show="checkedQueries.category.name">类别：{{checkedQueries.category.name}}<i ng-click="removeCheckedQueries('category')" class="iconfont">&#xe611;</i></span>
                            <span class="checked-query" ng-show="checkedQueries.brand.name">品牌：{{checkedQueries.brand.name}}<i ng-click="removeCheckedQueries('brand')" class="iconfont">&#xe611;</i></span>
                            <span class="checked-query" ng-show="checkedQueries.model.name">型号：{{checkedQueries.model.name}}<i ng-click="removeCheckedQueries('model')" class="iconfont">&#xe611;</i></span>
                        </p>
                        <div class="queries-category fn-clear" ng-show="isCategoryShow">
                            <span class="category-label fn-left">类别：</span>
                            <div class="category-list fn-left">
                                <button ng-repeat="item in categoryList" ng-click="addCheckedQueries('category', item)" class="category-item">{{item.name}}</button>
                            </div>
                        </div>
                        <div class="queries-category fn-clear" ng-show="isBrankShow">
                            <span class="category-label fn-left">品牌：</span>
                            <div class="category-list fn-left" ng-class="{fold: $ctrl.isFoldBrand}">
                                <button ng-repeat="item in brandList" ng-click="addCheckedQueries('brand', item)" class="category-item" ng-disabled="!checkedQueries.category.name">{{item.name}}</button>
                            </div>
                            <a href="javascript:;" ng-click="$ctrl.toggle('$ctrl.isFoldBrand')" ng-show="$ctrl.isFoldBrand" class="category-more fn-right">更多 <i class="iconfont">&#xe608;</i></a>
                            <a href="javascript:;" ng-click="$ctrl.toggle('$ctrl.isFoldBrand')" ng-show="!$ctrl.isFoldBrand" class="category-more fn-right">收起 <i class="iconfont">&#xe607;</i></a>
                        </div>
                        <div class="queries-category fn-clear" ng-show="isModelShow">
                            <span class="category-label fn-left">型号：</span>
                            <div class="category-list fn-left" ng-class="{fold: $ctrl.isFoldModel}">
                                <button ng-repeat="item in modelList" ng-click="addCheckedQueries('model', item)" class="category-item" ng-disabled="!checkedQueries.brand.name">{{item.name}}</button>
                            </div>
                            <a href="javascript:;" ng-click="$ctrl.toggle('$ctrl.isFoldModel')" ng-show="$ctrl.isFoldModel" class="category-more fn-right">更多 <i class="iconfont">&#xe608;</i></a>
                            <a href="javascript:;" ng-click="$ctrl.toggle('$ctrl.isFoldModel')" ng-show="!$ctrl.isFoldModel" class="category-more fn-right">收起 <i class="iconfont">&#xe607;</i></a>
                        </div>
                    </div>
                </div>
                <!-- 结果 -->
                <div ng-controller="goodsListModalCtrl">
                    <p class="goods-list-title">商品列表</p>
                    <div class="goods-list-box fn-clear">
                        <div class="goods-list fn-left">
                            <li class="goods-item" ng-class="{current: $index===checkIndex, hover: $index===hoverIndex || hoverIndex===''}" ng-repeat="item in serialNubShow" ng-mouseover="hoverGoods($index)" ng-click="checkedGoods($index)">
                                <p class="goods-title">商品：<span class="goods-name" ng-bind="item.name"></span></p>
                            </li>
                        </div>
                        <div class="goods-detail fn-left">
                            <p class="detail-title">商品详情：</p>
                            <div class="detail-content fn-clear">
                                <p class="detail-item fn-left">类别：<span class="detail-name" ng-bind="serialNubShow[hoverIndex].type"></span></p>
                                <p class="detail-item fn-left">品牌：<span class="detail-name" ng-bind="serialNubShow[hoverIndex].brand"></span></p>
                                <p class="detail-item fn-left">型号：<span class="detail-name" ng-bind="serialNubShow[hoverIndex].model"></span></p>
                                <p class="detail-item fn-left">配置：<span class="detail-name" ng-bind="serialNubShow[hoverIndex].configuration"></span></p>
                                <p class="detail-item fn-left">颜色：<span class="detail-name" ng-bind="serialNubShow[hoverIndex].color"></span></p>
                                <p class="detail-item fn-left">RAM：<span class="detail-name" ng-bind="serialNubShow[hoverIndex].RAM"></span></p>
                                <p class="detail-item fn-left">尺寸：<span class="detail-name" ng-bind="serialNubShow[hoverIndex].size"></span></p>
                                <p class="detail-item fn-left">OS：<span class="detail-name" ng-bind="serialNubShow[hoverIndex].OS"></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center page">
                        <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                        <div class="page-num">共<span class="number">{{totalNum}}</span>条记录，当前显示第<span class="number">{{currentPage}}</span>页</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">关闭</button>
                <button class="btn btn-submit" type="button" ng-click="$ctrl.ok()">确定</button>
            </div>
        </script>
        <!-- 串号录入弹框 -->
        <script type="text/ng-template" id="serialNumberModal.html">
            <div class="modal-header">
                <button type="button" class="close iconfont" ng-click="$ctrl.cancel()">&#xe611;</button>
                <h3 class="modal-title" id="serial-number-title"><img class="icon" src="../../resources/images/icon-list1.png">商品串号导入</h3>
            </div>
            <div class="modal-body pr50" id="serial-number-body">
                <div class="info-form">
                    <p class="model-title info-list">商品列表</p>
                    <form name="infomationForm" class="form-inline" role="form">
                        <div class="row dashed-line">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label grey-color">商品ID：</label>
                                    <p class="detail-input purple-color">470000037</p>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label grey-color">商品名称：</label>
                                    <p class="detail-input">U9-金鹏</p>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label grey-color">商品品牌：</label>
                                    <p class="detail-input">营销资源类型</p>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="control-label grey-color">商品型号：</label>
                                    <p class="detail-input">营销资源物品</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="numInfo-form">
                    <p class="model-title info-list">串号信息</p>
                    <!-- 查询 -->
                    <div class="query-box">
                        <div class="row">
                            <div class="col-xs-6">
                                <input type="text" class="form-control get-width" placeholder="输入串号添加">
                                <button type="submit" class="btn btn-sm btn-submit">添加</button>
                                <button type="submit" class="btn btn-sm btn-query btn-submit">批量导入</button>
                            </div>
                            <div class="col-xs-6 text-right">
                                <button type="submit" class="btn btn-sm btn-query btn-submit">模板下载</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-list" ng-controller="serisListModalCtrl">
                    <p class="model-title info-list">商品串号列表</p>
                    <div class="serisTab-list">
                        <ul class="num-list">
                            <li ng-repeat="item in serisListResult">
                                <span>{{ $index + 1 }}</span>{{item.nub}}<a href="javascript:void(0)" class="small-delete"><i class="iconfont">&#xe611;</i></a>
                            </li>
                        </ul>
                    </div>
                    <div ng-controller="paginationCtrl" class="text-center page">
                        <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                        <div class="page-num">共<span class="number">10</span>条记录，当前显示第<span class="number">1</span>页</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">关闭</button>
                <button class="btn btn-submit" type="button" ng-disabled="isDisabled" ng-click="$ctrl.ok()">确定</button>
            </div>
        </script>
        <!-- 选择门店 -->
        <script type="text/ng-template" id="storeQueryTypeModal.html">
            <div class="modal-header">
                <button type="button" class="close iconfont" ng-click="$ctrl.cancel()">&#xe611;</button>
                <h3 class="modal-title" id="serial-number-title"><img class="icon" src="../../resources/images/icon-list1.png">选择门店</h3>
            </div>
            <!-- 条件查询 -->
            <div class="condition-query fn-clear">
                <p class="condition-query-title fn-left">搜
                    <br/>索</p>
                <div class="condition-query-box fn-right">
                    <form name="conditionQueryForm" class="form-inline" role="form">
                        <div class="row mb10">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">门店名称：</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">商户名称：</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group" ng-controller="cityCheckCtrl">
                                    <label class="control-label">所在地区：</label>
                                    <input type="text" class="form-control reduce-width" ng-model="checkedAreaName">
                                    <button ng-click="cityCheck()" type="submit" class="btn btn-sm btn-location"><i class="iconfont">&#xe6cb;</i></button>
                                    <div class="city-check-box" ng-show="visible">
                                        <uib-tabset active="key">
                                            <uib-tab index="1" heading="省份">
                                                <div class="city-content">
                                                    <li class="city-item" ng-class="{current: $index === provinceIndex}" ng-repeat="item in citys" ng-click="handleSelectCity('province', $index, item.areaId, item.areaName)">{{item.areaName}}</li>
                                                </div>
                                            </uib-tab>
                                            <uib-tab index="2" heading="城市">
                                                <div class="city-content">
                                                    <li class="city-item" ng-class="{current: $index === cityIndex}" ng-repeat="item in citys[provinceIndex].children" ng-click="handleSelectCity('city', $index, item.areaId, item.areaName)">{{item.areaName}}</li>
                                                </div>
                                            </uib-tab>
                                        </uib-tabset>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group text-right">
                                    <button type="submit" class="btn btn-sm btn-query btn-another"><i class="iconfont">&#xe600;</i> 查询</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- 结果列表 -->
            <div class="result-list">
                <div class="result-head">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="model-header">
                                <p class="model-title">选择门店</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="result-table">
                    <table class="table table-hover table-bordered grey-table">
                        <thead>
                            <tr>
                                <th width="10%">选择</th>
                                <th width="30%">门店名称</th>
                                <th>商户名称</th>
                                <th width="15%">省份</th>
                                <th width="15%">地区</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="radio" name="store">
                                </td>
                                <td>
                                    <p>杭州紫金店</p>
                                </td>
                                <td>
                                    <p>迪信通</p>
                                </td>
                                <td>
                                    <p>江苏</p>
                                </td>
                                <td>
                                    <p>南京</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="store" checked>
                                </td>
                                <td>
                                    <p>南京紫金店</p>
                                </td>
                                <td>
                                    <p>迪信通</p>
                                </td>
                                <td>
                                    <p>江苏</p>
                                </td>
                                <td>
                                    <p>南京</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="no-data" ng-if="queryTypeResultList && !queryTypeResultList.length" ng-cloak>
                        没有数据
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-submit" type="button" ng-disabled="isDisabled" ng-click="$ctrl.ok()">确定</button>
                <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">取消</button>
            </div>
        </script>
    </div>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/angular-touch.min.js"></script>
    <script src="../../resources/js/angular-animate.min.js"></script>
    <script src="../../resources/js/angular-aria.min.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/ui-bootstrap.js"></script>
    <script src="../../resources/js/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="../../resources/js/lodash.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="addTransferOutDepot.js"></script>
</body>

</html>
