<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
	<div class="header">
		<img src="../../resources/images/logo.png" class="dianxin-logo">
	</div>
	<div class="content">
		<div class="cnt">
			<div class="fn-login">
				<p class="user">
					<img src="../../resources/images/man.png">用户登录
				</p>
				<div class="lg zh-lg" style="display:none">
					<p class="top"><span class="wrds">帐号登录</span><a href="javascript:void(0)" class="change"><i class="iconfont">&#xe737;</i>手机短信登录<img src="../../resources/images/arrow-right.png"></a>
						<span class="line"></span>
					</p>
					<div class="lig"><i class="iconfont">&#xe631;</i><input type="text" placeholder="帐号"></div>
					<div class="lig"><i class="iconfont">&#xe630;</i><input type="password" placeholder="密码"></div>
					<div class="lig yzm"><i class="iconfont">&#xe745;</i><input type="text" placeholder="图形验证码"></div><img src="../../resources/images/img.jpg" class="yzm-img">
					<div class="btns">
						<button class="login">登录</button>
						<button class="reseting">重置</button>
					</div>
					<p class="err">密码错误密码错误密码错误密码错误密码错</p>
					<a href="#" class="forget">忘记密码？</a>
				</div>
				<div class="lg tel-lg" >
					<p class="top"><span class="wrds">手机验证码登录</span><a href="javascript:void(0)" class="change"><i class="iconfont">&#xe631;</i>账号密码登录<img src="../../resources/images/arrow-right.png"></a>
						<span class="line"></span>
					</p>
					<div class="lig"><i class="iconfont">&#xe737;</i><input type="text" placeholder="手机号"></div>				
					<div class="lig yzm"><i class="iconfont">&#xe77a;</i><input type="text" placeholder="手机验证码" id="mobile"></div><input type="button" class="telyzm" id="btn" value="获取验证码">
					<div class="btns">
						<button class="login">登录</button>
						<button class="reseting">重置</button>
					</div>
					<p class="err">密码错误密码错误密码错误密码错误密码错</p>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">版权所有 @  2016  中国电信集团公司</div>
    <script src="../../resources/js/jquery.min.js"></script>   
    <script src="index.js"></script>
</body>
</html>