<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>销量及自注册报表</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="salesAndRegistrationList.css">
</head>
<body ng-app="salesAndRegistrationListModule">
    <!-- DOM结构开始 -->
    <div class="check top-line wavy-line" ng-controller="conditionResult">
        <!-- 条件查询 -->
        <div class="condition-query fn-clear" ng-controller="conditionQuery">
            <p class="condition-query-title fn-left">搜
                <br/>索</p>
            <div class="condition-query-box fn-right">
                <form name="conditionQueryForm" class="form-inline" role="form">
                    <div class="row mb10">
                        <div class="col-xs-3">
                            <div class="form-group" ng-controller="cityCheckCtrl">
                                <label class="control-label">省市：</label>
                                <input type="text" class="form-control" ng-model="checkedAreaName" disabled>
                                <button ng-click="cityCheck()" type="submit" ng-show="isshowcityName" class="btn btn-sm btn-location" ng-cloak><i
                                    class="iconfont">&#xe6cb;</i></button>
                                <div class="city-check-box" ng-show="visible" ng-cloak>
                                    <uib-tabset active="key">
                                        <uib-tab index="1" heading="省份" ng-show="isshowprovinceName">
                                            <div class="city-content">
                                                <li class="city-item" ng-class="{current: $index === provinceIndex}"
                                                    ng-repeat="item in qryProvinceList"
                                                    ng-click="handleSelectCity('province', $index, item.commonRegionId, item.commonRegionName)">
                                                    {{item.commonRegionName}}
                                                </li>
                                            </div>
                                        </uib-tab>
                                        <uib-tab index="2" heading="城市" ng-show="isshowcityName">
                                            <div class="city-content">
                                                <li class="city-item" ng-class="{current: $index === cityIndex}"
                                                    ng-repeat="item in qryCityList"
                                                    ng-click="handleSelectCity('city', $index, item.commonRegionId, item.commonRegionName)">
                                                    {{item.commonRegionName}}
                                                </li>
                                            </div>
                                        </uib-tab>
                                    </uib-tabset>
                                </div>
                                <div class="zhezhao" ng-click="clHide()" ng-show="visible" ng-cloak></div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label">品牌：</label>
                                <div class="select-box">
                                    <select class="form-control" ng-model="conditionQueryForm.brandCd" ng-options="item.brandCd as item.brandName for item in allBrandList">
                                        <option value="">全部</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label">机型：</label>
                                <div class="select-box">
                                    <select class="form-control" ng-model="conditionQueryForm.modelCd" ng-options="model.modelCd as model.modelName for model in allModelList">
                                        <option value="">全部</option>
                                    </select>
                                </div>
                            </div> 
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label">品牌名：</label>
                                <input type="text" class="form-control" ng-model="conditionQueryForm.brandName">
                            </div>
                        </div>  
                    </div>
                    <div class="row mb10">                        
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label">机型名：</label>
                                <input type="text" class="form-control" ng-model="conditionQueryForm.modelName">
                            </div>
                        </div> 
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label">渠道类型：</label>
                                <div class="select-box">
                                    <select class="form-control" ng-model="conditionQueryForm.channelTypeId" ng-options="item.channelTypeId as item.channelTypeName for item in channelTypeList">
                                        <option value="">全部</option>
                                    </select>
                                </div>
                            </div>
                        </div> 
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label">自有厅级别：</label>
                                <div class="select-box">
                                    <select class="form-control" ng-model="conditionQueryForm.hallLevelId" ng-options="item.hallLevelId as item.hallLevelName for item in myHallList">
                                        <option value="">全部</option>
                                    </select>
                                </div>
                            </div>
                        </div> 
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label">专营店星级：</label>
                                <div class="select-box">
                                    <select class="form-control" ng-model="boutiqueStarId" ng-options="item.boutiqueStarId as item.boutiqueStarName for item in boutiqueStarList">
                                        <option value="">全部</option>
                                    </select>
                                </div>
                            </div>
                        </div>    
                    </div>
                    <div class="row"> 
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label">仓库名：</label>
                                <input type="text" class="form-control" ng-bind="conditionQueryForm.storageName">
                            </div>
                        </div> 
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label">统计日期：</label>
                                <div class="datepicker-input fn-left">
                                    <input type="text" id="createStartDt" class="form-control modify-input" uib-datepicker-popup readonly ng-model="conditionQueryForm.createStartDt" is-open="startPopupOpened" min-date="minStartDate" max-date="maxStartDate" datepicker-options="startDateOptions" show-button-bar='false' />
                                    <span class="icon_time" ng-click="startOpen()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                                <div class="datepicker-text fn-left">至</div>
                                <div class="datepicker-input fn-left">
                                    <input type="text" id="createEndDt" class="form-control modify-input" uib-datepicker-popup readonly ng-model="conditionQueryForm.createEndDt" is-open="endPopupOpened" min-date="minEndDate" max-date="maxEndDate" datepicker-options="endDateOptions" show-button-bar='false' />
                                    <span class="icon_time" ng-click="endOpen()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                                
                            </div>    
                        </div>
                        <div class="col-xs-3 text-right">                           
                            <button type="submit" class="btn btn-sm btn-query" ng-click="orderQuery(curPage)"><i class="iconfont">&#xe600;</i> 查询</button>                           
                        </div> 
                    </div>
                </form>
            </div>
        </div>
        <!-- 结果列表 -->
        <div class="result-list">
            <div class="result-head">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="model-header">
                            <img class="model-img" src="../../resources/images/icon-list.png">
                            <p class="model-title">销量及自注册报表</p>
                        </div>
                    </div>
                    <div class="col-xs-8 text-right">
                        <button class="btn btn-xs btn-set"><i class="iconfont">
                        &#xe627;</i> 导出</button>
                    </div>
                </div>
            </div>
            <div class="result-table">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th width="69px" rowspan="2">序号</th>
                            <th width="79px" rowspan="2">省</th>
                            <th width="79px" rowspan="2">市</th>
                            <th width="99px" rowspan="2">上线系统门店数</th>
                            <th width="267px" colspan="3">精品销售系统销量</th>
                            <th width="267px" colspan="3">精品销售系统销量且自注册注册量</th>
                            <th width="109px" rowspan="2">其中：注册为新入网用户的终端量</th>
                            <th width="109px" rowspan="2">其中：注册为存量用户的终端量</th>
                            <th width="104px" rowspan="2">拉新率</th>
                            <th width="267px" colspan="3">精品销售系统销量且在外省注册量</th>
                            <th width="267px" colspan="3">精品销售系统销量且在本省注册量</th>
                            <th width="267px" colspan="3">单店销量</th>
                        </tr>
                        <tr>
                            <th width="79px">总销量</th>
                            <th width="94px">其中合约销量</th>
                            <th width="94px">其中裸机销量</th>
                            <th width="79px">总销量</th>
                            <th width="94px">其中合约销量</th>
                            <th width="94px">其中裸机销量</th>
                            <th width="79px">总销量</th>
                            <th width="94px">其中合约销量</th>
                            <th width="94px">其中裸机销量</th>
                            <th width="79px">总销量</th>
                            <th width="94px">其中合约销量</th>
                            <th width="94px">其中裸机销量</th>
                            <th width="79px">总销量</th>
                            <th width="94px">其中合约销量</th>
                            <th width="94px">其中裸机销量</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in resultList">
                            <td>
                                <p ng-bind="$index+1"></p>
                            </td>
                            <td>
                                <p class="overflow-handle" title="{{item.PROVINCE_NAME}}" ng-bind="item.PROVINCE_NAME"></p>
                            </td>
                            <td>
                                <p class="overflow-handle" title="{{item.CITY_NAME}}" ng-bind="item.CITY_NAME"></p>
                            </td>
                            <td>
                                <p ng-bind="item.ONLINE_SHOP_COUNT"></p>
                            </td>
                            <td>
                                <p ng-bind="item.ALL_SALE_COUNT"></p>
                            </td>
                            <td>
                                <p ng-bind="item.CONTRACT_SALE_COUNT"></p>
                            </td>
                            <td>
                                <p ng-bind="item.TERMINAL_SALE_COUNT"></p>
                            </td>
                            <td>
                                <p ng-bind="item.SELF_ALL_SALE_COUNT"></p>
                            </td>
                            <td>
                                <p ng-bind="item.SELF_CONTRACT_SALE_COUNT"></p>
                            </td>
                            <td>
                                <p ng-bind="item.SELF_TERMINAL_SALE_COUNT"></p>
                            </td>
                            <td>
                                <p ng-bind="item.NEWINTER_USER_COUNT"></p>
                            </td>
                            <td>
                                <p ng-bind="item.STOCK_USER_COUNT"></p>
                            </td>
                            <td>
                                <p ng-bind="item.NEW_RATE"></p>
                            </td>
                            <td>
                                <p ng-bind="item.OTHER_ALL_SALECOUNT"></p>
                            </td>
                            <td>
                                <p ng-bind="item.OTHER_CONTRACT_SALECOUNT"></p>
                            </td>
                            <td>
                                <p ng-bind="item.OTHER_TERMINAL_SALECOUNT"></p>
                            </td>
                            <td>
                                <p ng-bind="item.PROVINCE_ALL_SALECOUNT"></p>
                            </td>
                            <td>
                                <p ng-bind="item.PROVINCE_CONTRACT_SALECOUNT"></p>
                            </td>
                            <td>
                                <p ng-bind="item.PROVINCE_TERMINAL_SALECOUNT"></p>
                            </td>
                            <td>
                                <p ng-bind="item.ONESHOP_ALL_SALECOUNT"></p>
                            </td>
                            <td>
                                <p ng-bind="item.ONESHOP_CONTRACT_SALECOUNT"></p>
                            </td>
                            <td>
                                <p ng-bind="item.ONESHOP_TERMINAL_SALECOUNT"></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="no-data" ng-if="resultList && !resultList.length" ng-cloak>
                    没有数据
                </p>
            </div>
            <div ng-controller="paginationCtrl" class="text-center page">
                <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="curPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                <div class="page-num">共<span class="number" ng-bind="totalNum"></span>条记录，当前显示第<span class="number" ng-bind="curPage"></span>页</div>
            </div>
        </div>
    </div>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/angular-touch.min.js"></script>
    <script src="../../resources/js/angular-animate.min.js"></script>
    <script src="../../resources/js/angular-aria.min.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/ui-bootstrap.js"></script>
    <script src="../../resources/js/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="../../resources/js/lodash.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../resources/js/mock.js"></script>
    <script src="salesAndRegistrationList.js"></script>
</body>

</html>
