<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>门店管理</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="storeManage.css">
</head>

<body ng-app="checkModule">
    <!-- DOM结构开始 -->
    <div class="check top-line wavy-line" ng-controller="addPurchaseModalCtrl as $ctrl">
        <!-- 条件查询 -->
        <div class="condition-query fn-clear" ng-controller="conditionQuery">
            <p class="condition-query-title fn-left">搜
                <br/>索</p>
            <div class="condition-query-box fn-right">
                <form name="conditionQueryForm" class="form-inline" role="form">
                    <div class="row mb10">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">门店名称：</label>
                                <input type="text" class="form-control" placeholder="请输入单据号">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">门店编码：</label>
                                <input type="text" class="form-control" placeholder="请输入单据号">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">门店类型：</label>
                                <select class="form-control">
                                    <option value="">全部</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">门店状态：</label>
                                <select class="form-control">
                                    <option value="">全部</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">所属商户：</label>
                                <input type="text" class="form-control" disabled>
                                <button type="submit" class="btn btn-sm btn-searching" ng-click="openStoreQueryType()"><i class="iconfont">&#xe600;</i></button>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">对应渠道编码：</label>
                                <input type="text" class="form-control reduce-width" disabled>
                                <button type="submit" class="btn btn-sm btn-searching btn-ser" ng-click="openStoreQueryType()"><i class="iconfont">&#xe600;</i></button>
                                <button type="submit" class="btn btn-sm btn-query"><i class="iconfont">&#xe600;</i> 查询</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- 结果列表 -->
        <div class="result-list">
            <div class="result-head">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="model-header">
                            <img class="model-img" src="../../resources/images/icon-list.png">
                            <p class="model-title">门店信息管理</p>
                        </div>
                    </div>
                    <div class="col-xs-8 text-right">
                        <button class="btn btn-xs btn-set"><i class="iconfont">
                        &#xe60e;</i> 新增商户</button>
                        <button class="btn btn-xs btn-set"><i class="iconfont">
                        &#xe610;</i> 批量删除</button>
                        <button class="btn btn-xs btn-set"><i class="iconfont">
                        &#xe613;</i> 批量启用</button>
                        <button class="btn btn-xs btn-set"><i class="iconfont">
                        &#xe612;</i> 批量停用</button>
                    </div>
                </div>
            </div>
            <div class="result-table">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th width="5%">选择</th>
                            <th width="10%">门店编码</th>
                            <th width="11%">门店名称</th>
                            <th width="11%">所属商户</th>
                            <th width="14%">门店地址</th>
                            <th width="7%">门店类型</th>
                            <th width="7%">门店状态</th>
                            <th width="8%">渠道单元编码</th>
                            <th width="15%">备注</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" name="checkbox{{$index}}" ng-click="check(item, isChecked)" ng-model="isChecked">
                            </td>
                            <td>
                                <p>100000009803</p>
                            </td>
                            <td>
                                <p class="overflow-handle" title="">凤凰大街XX门店</p>
                            </td>
                            <td>
                                <p>凤凰大街XXX商户</p>
                            </td>
                            <td>
                                <p>凤凰大街XXX商户 xx街</p>
                            </td>
                            <td>
                                <p>直营店</p>
                            </td>
                            <td>
                                <p>正常</p>
                            </td>
                            <td>
                                <p>JS10001111</p>
                            </td>
                            <td>
                                <p class="overflow-handle" title="">--</p>
                            </td>
                            <td>
                                <button class="btn btn-xs btn-disabled" disabled><i class="iconfont">&#xe60d;</i> 修改
                                </button>
                                <button class="btn btn-xs btn-edit"><i class="iconfont">&#xe610;</i> 删除
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="no-data" ng-if="queryTypeResultList && !queryTypeResultList.length" ng-cloak>
                    没有数据
                </p>
            </div>
            <div ng-controller="paginationCtrl" class="text-center page">
                <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                <div class="page-num">共<span class="number">10</span>条记录，当前显示第<span class="number">1</span>页</div>
            </div>
        </div>
        <!-- 门店所属商户 -->
        <script type="text/ng-template" id="storeQueryTypeModal.html">
            <div class="modal-header">
                <button type="button" class="close iconfont" ng-click="$ctrl.cancel()">&#xe611;</button>
                <h3 class="modal-title" id="serial-number-title1"><img class="icon" src="../../resources/images/icon-list1.png">选择经营主体</h3>
            </div>
            <!-- 条件查询 -->
            <div class="condition-query fn-clear">
                <p class="condition-query-title fn-left">搜
                    <br/>索</p>
                <div class="condition-query-box fn-right">
                    <form name="conditionQueryForm" class="form-inline" role="form">
                        <div class="row mb10">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">经营主体名称：</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">经营主体编码：</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group" ng-controller="cityCheckCtrl">
                                    <label class="control-label">地区：</label>
                                    <input type="text" class="form-control" ng-model="checkedAreaName">
                                    <button ng-click="cityCheck()" type="submit" class="btn btn-sm btn-location"><i class="iconfont">&#xe6cb;</i></button>
                                    <div class="city-check-box" ng-show="visible">
                                        <uib-tabset active="key">
                                            <uib-tab index="1" heading="省份">
                                                <div class="city-content">
                                                    <li class="city-item" ng-class="{current: $index === provinceIndex}" ng-repeat="item in citys" ng-click="handleSelectCity('province', $index, item.areaId, item.areaName)">{{item.areaName}}</li>
                                                </div>
                                            </uib-tab>
                                            <uib-tab index="2" heading="城市">
                                                <div class="city-content">
                                                    <li class="city-item" ng-class="{current: $index === cityIndex}" ng-repeat="item in citys[provinceIndex].children" ng-click="handleSelectCity('city', $index, item.areaId, item.areaName)">{{item.areaName}}</li>
                                                </div>
                                            </uib-tab>
                                        </uib-tabset>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group text-right">
                                    <button type="submit" class="btn btn-sm btn-query btn-another"><i class="iconfont">&#xe600;</i> 查询</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- 结果列表 -->
            <div class="result-list">
                <div class="result-head">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="model-header">
                                <p class="model-title">选择经营主体</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="result-table">
                    <table class="table table-hover table-bordered grey-table">
                        <thead>
                            <tr>
                                <th width="5%">选择</th>
                                <th width="14%">经营主体编码</th>
                                <th>经营主体名称</th>
                                <th width="10%">地区</th>
                                <th width="10%">法人代表</th>
                                <th width="10%">联系电话</th>
                                <th width="30%">联系地址</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="radio" name="store">
                                </td>
                                <td>
                                    <p>100000001421</p>
                                </td>
                                <td>
                                    <p>望月路全网通门店</p>
                                </td>
                                <td>
                                    <p>江苏-南京</p>
                                </td>
                                <td>
                                    <p>王老板</p>
                                </td>
                                <td>
                                    <p>18900000013</p>
                                </td>
                                <td>
                                    <p>南京市白下区xx街道112号</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="store">
                                </td>
                                <td>
                                    <p>100000001421</p>
                                </td>
                                <td>
                                    <p>新街口天翼卖场</p>
                                </td>
                                <td>
                                    <p>江苏-南京</p>
                                </td>
                                <td>
                                    <p>王老板</p>
                                </td>
                                <td>
                                    <p>18900000013</p>
                                </td>
                                <td>
                                    <p>南京市白下区xx街道112号</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="no-data" ng-if="queryTypeResultList && !queryTypeResultList.length" ng-cloak>
                        没有数据
                    </p>
                </div>
                <div ng-controller="paginationCtrl" class="text-center page">
                    <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                    <div class="page-num">共<span class="number">10</span>条记录，当前显示第<span class="number">1</span>页</div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-submit" type="button" ng-disabled="isDisabled" ng-click="$ctrl.ok()">确定</button>
                <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">取消</button>
            </div>
        </script>
        <!-- 对应渠道单元编码 -->
        <script type="text/ng-template" id="channelUnitModal.html">
            <div class="modal-header">
                <button type="button" class="close iconfont" ng-click="$ctrl.cancel()">&#xe611;</button>
                <h3 class="modal-title" id="serial-number-title"><img class="icon" src="../../resources/images/icon-list1.png">选择渠道单元</h3>
            </div>
            <!-- 条件查询 -->
            <div class="condition-query fn-clear">
                <p class="condition-query-title fn-left">搜
                    <br/>索</p>
                <div class="condition-query-box fn-right">
                    <form name="conditionQueryForm" class="form-inline" role="form">
                        <div class="row mb10">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">渠道单元名称：</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">渠道单元编码：</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group" ng-controller="cityCheckCtrl">
                                    <label class="control-label">地区：</label>
                                    <input type="text" class="form-control reduce-width" ng-model="checkedAreaName">
                                    <button ng-click="cityCheck()" type="submit" class="btn btn-sm btn-location"><i class="iconfont">&#xe6cb;</i></button>
                                    <div class="city-check-box" ng-show="visible">
                                        <uib-tabset active="key">
                                            <uib-tab index="1" heading="省份">
                                                <div class="city-content">
                                                    <li class="city-item" ng-class="{current: $index === provinceIndex}" ng-repeat="item in citys" ng-click="handleSelectCity('province', $index, item.areaId, item.areaName)">{{item.areaName}}</li>
                                                </div>
                                            </uib-tab>
                                            <uib-tab index="2" heading="城市">
                                                <div class="city-content">
                                                    <li class="city-item" ng-class="{current: $index === cityIndex}" ng-repeat="item in citys[provinceIndex].children" ng-click="handleSelectCity('city', $index, item.areaId, item.areaName)">{{item.areaName}}</li>
                                                </div>
                                            </uib-tab>
                                        </uib-tabset>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group text-right">
                                    <button type="submit" class="btn btn-sm btn-query btn-another"><i class="iconfont">&#xe600;</i> 查询</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- 结果列表 -->
            <div class="result-list">
                <div class="result-head">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="model-header">
                                <p class="model-title">选择渠道单元列表</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="result-table">
                    <table class="table table-hover table-bordered grey-table">
                        <thead>
                            <tr>
                                <th width="5%">选择</th>
                                <th width="31%">渠道单元编码</th>
                                <th>渠道单元名称</th>
                                <th width="31%">地区</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="radio" name="store">
                                </td>
                                <td>
                                    <p>望月路全网通门店</p>
                                </td>
                                <td>
                                    <p>100000001421</p>
                                </td>
                                <td>
                                    <p>江苏-南京</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="store">
                                </td>
                                <td>
                                    <p>望月路全网通门店</p>
                                </td>
                                <td>
                                    <p>100000001421</p>
                                </td>
                                <td>
                                    <p>江苏-南京</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="no-data" ng-if="queryTypeResultList && !queryTypeResultList.length" ng-cloak>
                        没有数据
                    </p>
                </div>
                <div ng-controller="paginationCtrl" class="text-center page">
                    <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                    <div class="page-num">共<span class="number">10</span>条记录，当前显示第<span class="number">1</span>页</div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-submit" type="button" ng-disabled="isDisabled" ng-click="$ctrl.ok()">确定</button>
                <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">取消</button>
            </div>
        </script>
    </div>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/angular-touch.min.js"></script>
    <script src="../../resources/js/angular-animate.min.js"></script>
    <script src="../../resources/js/angular-aria.min.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/ui-bootstrap.js"></script>
    <script src="../../resources/js/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="../../resources/js/lodash.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="storeManage.js"></script>
</body>

</html>
