<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>集团系统管理员配置</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="groupAdminConfiguration.css">
</head>

<body ng-app="checkModule" ng-controller="addAdjustInModalCtrl as $ctrl">
    <!-- DOM结构开始 -->
    <div class="check top-line wavy-line" ng-controller="conditionQuery">
        <!-- 条件查询 -->
        <div class="condition-query fn-clear">
            <p class="condition-query-title fn-left">搜
                <br/>索</p>
            <div class="condition-query-box fn-right">
                <form name="conditionQueryForm" class="form-inline" role="form">
                    <div class="row mb10">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">员工名称：</label>
                                <input ng-model="conditionQueryForm.staffName" type="text" class="form-control" placeholder="请输入员工名称">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">员工编码：</label>
                                <input ng-model="conditionQueryForm.staffCode" type="text" class="form-control" placeholder="请输入员工编码">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">登陆账号：</label>
                                <input ng-model="conditionQueryForm.account" type="text" class="form-control" placeholder="请输入登陆账号">
                            </div>
                        </div>
                    </div>
                    <div class="row mb10">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">所属渠道名称：</label>
                                <input ng-model="conditionQueryForm.channelName" type="text" class="form-control" placeholder="请输入所属渠道名称">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">所属渠道编码：</label>
                                <input ng-model="conditionQueryForm.channelId" type="text" class="form-control" placeholder="请输入所属渠道编码">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">状态：</label>
                                <div class="select-box">
                                    <select ng-model="conditionQueryForm.statusCd" class="form-control" ng-options="item.STATUS_CD as item.STATUS_NAME for item in userStatusList">
                                        <option value="">全部</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <div class="form-group btn-search">
                                <button ng-click="orderQuery()" type="submit" class="btn btn-sm btn-query"><i class="iconfont">&#xe600;</i> 查询</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- 结果列表 -->
        <div class="result-list">
            <div class="result-head">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="model-header">
                            <img class="model-img" src="../../resources/images/icon-list.png">
                            <p class="model-title">集团级系统管理员配置列表</p>
                        </div>
                    </div>
                    <div class="col-xs-8 text-right">
                        <button ng-click="addNewAccount()" class="btn btn-xs btn-set"><i class="iconfont">
                        &#xe60e;</i> 新增系统管理员</button>
                        <button ng-click="batchDeleteAccount()" class="btn btn-xs btn-set"><i class="iconfont">
                        &#xe610;</i> 批量删除</button>
                        <button ng-click="batchStartAccount()" class="btn btn-xs btn-set"><i class="iconfont">
                        &#xe613;</i> 批量启用</button>
                        <button ng-click="batchStopAccount()" class="btn btn-xs btn-set"><i class="iconfont">
                        &#xe612;</i> 批量停用</button>
                    </div>
                </div>
            </div>
            <div class="result-table">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th width="5%">
                                <input type="checkbox" ng-click="checkAll(isCheckedAll)" ng-model="isCheckedAll">
                            </th>
                            <th width="8%">姓名</th>
                            <th width="10%">登录账号</th>
                            <th width="11%">捆绑手机</th>
                            <th width="12%">所属渠道</th>
                            <th width="12%">管理员角色</th>
                            <th width="9%">状态</th>
                            <th width="10%">更新时间</th>
                            <th>备注</th>
                            <th width="14%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in adminInfosList" ng-cloak>
                            <td>
                                <input type="checkbox" name="checkbox{{$index}}" ng-checked="isCheckedAll" ng-click="check(item, isChecked)" ng-model="isChecked">
                            </td>
                            <td>
                                <p ng-bind="item.STAFF_NAME"></p>
                            </td>
                            <td>
                                <p ng-bind="item.SYSTEM_USER_CODE"></p>
                            </td>
                            <td>
                                <p ng-bind="item.MOBILE_TEL"></p>
                            </td>
                            <td>
                                <p ng-bind="item.CHANNEL_NAME"></p>
                            </td>
                            <td>
                                <p ng-bind="item.POST_ROLE_NAME"></p>
                            </td>
                            <td>
                                <p ng-bind="item.STATUS_NAME"></p>
                            </td>
                            <td>
                                <p ng-bind="item.UPDATE_TIME"></p>
                            </td>
                            <td>
                                <p ng-bind="item.REMARKS" class="overflow-handle" title="{{item.REMARKS}}"></p>
                            </td>
                            <td>
                                <button ng-click="detailAccounts(item)" class="btn btn-xs btn-edit"><i class="iconfont">&#xe60d;</i> 修改
                                </button>
                                <button ng-click="batchDeleteAccount(item)" class="btn btn-xs btn-edit"><i class="iconfont">&#xe610;</i> 删除
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="no-data" ng-if="queryTypeResultList && !queryTypeResultList.length" ng-cloak>
                    没有数据
                </p>
            </div>
            <div ng-controller="paginationCtrl" class="text-center page" ng-cloak>
                <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                <div class="page-num">共<span class="number">10</span>条记录，当前显示第<span class="number">1</span>页</div>
            </div>
        </div>
        <!-- 详情 -->
        <script type="text/ng-template" id="detailAccountsModal.html">
            <div class="modal-header">
                <button type="button" class="close iconfont" ng-click="$ctrl.cancel()">&#xe611;</button>
                <h3 class="modal-title" id="serial-number-title"><img class="icon" src="../../resources/images/icon-list1.png">系统管理员信息修改</h3>
            </div>
            <div class="history-detail-infomation">
                <div class="info-detail-form">
                    <form name="infomationForm" class="form-inline admin-change" role="form">
                        <div class="row lh30">
                            <div class="col-xs-3 text-right">
                                <p>系统管理员类型：</p>
                            </div>
                            <div class="col-xs-9">
                                <p ng-bind="$ctrl.items.POST_ROLE_NAME" class="admin-type"></p>
                            </div>
                        </div>
                        <div class="row lh30">
                            <div class="col-xs-3 text-right">
                                <p>员工：</p>
                            </div>
                            <div class="col-xs-9">
                                <p ng-bind="$ctrl.items.STAFF_NAME" class="bold"></p>
                            </div>
                        </div>
                        <div class="row lh30">
                            <div class="col-xs-3 text-right">
                                <p>系统账号：</p>
                            </div>
                            <div class="col-xs-9">
                                <p ng-bind="$ctrl.items.SYSTEM_USER_CODE" class="bold"></p>
                            </div>
                        </div>
                        <div class="row lh30">
                            <div class="col-xs-3 text-right">
                                <p class="bold">所属经营主体：</p>
                            </div>
                            <div class="col-xs-9">
                                <p ng-bind="$ctrl.items.OPERATORS_NAME"></p>
                            </div>
                        </div>
                        <div class="row lh30">
                            <div class="col-xs-3 text-right">
                                <p class="bold">所属渠道：</p>
                            </div>
                            <div class="col-xs-9">
                                <p ng-bind="$ctrl.items.CHANNEL_NAME"></p>
                            </div>
                        </div>
                        <div class="row lh30">
                            <div class="col-xs-3 text-right">
                                <p>登陆密码：</p>
                            </div>
                            <div class="col-xs-9">
                                <div class="form-group-deploy">
                                    <input ng-model="$ctrl.password" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row lh30">
                            <div class="col-xs-3 text-right">
                                <p>捆绑手机：</p>
                            </div>
                            <div class="col-xs-9">
                                <div class="form-group-deploy">
                                    <input ng-model="$ctrl.telephone" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row lh30">
                            <div class="col-xs-3 text-right">
                                <p>备注：</p>
                            </div>
                            <div class="col-xs-9">
                                <div class="form-group-deploy">
                                    <textarea ng-model="$ctrl.remark"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">关闭</button>
                <button class="btn btn-submit" type="button" ng-click="$ctrl.ok()">确定</button>
            </div>
        </script>
    </div>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/angular-touch.min.js"></script>
    <script src="../../resources/js/angular-animate.min.js"></script>
    <script src="../../resources/js/angular-aria.min.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/ui-bootstrap.js"></script>
    <script src="../../resources/js/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="../../resources/js/lodash.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../resources/js/mock.js"></script>
    <script src="groupAdminConfiguration.js"></script>
</body>

</html>
