<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>库存量TOP5统计</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="inventoryStatistics.css">
</head>

<body ng-app="inventoryModule">
    <!-- DOM结构开始 -->
    <div class="inventory top-line wavy-line" ng-controller="inventoryCtrl">
        <!-- 条件查询 -->
        <div class="inventory-query fn-clear">
            <p class="inventory-query-title fn-left">搜
                <br/>索</p>
            <div class="condition-query-box fn-right">
                <form name="conditionQueryForm" class="form-inline" role="form">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">门店名称：</label>
                                <p class="detail-input color-violet">中国电信@鼓楼营业厅</p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">仓库名称：</label>
                                <select class="form-control">
                                    <option value="">鼓楼第一仓库</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- 结果列表 -->
        <div class="inventory-charts fn-clear">
            <brand-chart id="brand" legend="legend" data="data"></brand-chart>
            <model-chart id="model" legend="legend" data="data"></model-chart>
        </div>
    </div>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/angular-touch.min.js"></script>
    <script src="../../resources/js/angular-animate.min.js"></script>
    <script src="../../resources/js/angular-aria.min.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/ui-bootstrap.js"></script>
    <script src="../../resources/js/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="../../resources/js/lodash.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../resources/js/echarts.min.js"></script>
    <script src="inventoryStatistics.js"></script>
</body>

</html>
