<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>库存量TOP5统计</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="inventoryStatistics.css">
</head>

<body ng-app="inventoryModule">
    <!-- DOM结构开始 -->
    <div class="inventory top-line wavy-line" ng-controller="addPurchaseModalCtrl">
        <!-- 条件查询 -->
        <div class="alarm-query fn-clear" ng-controller="storeQuery">
            <p class="alarm-query-title fn-left">搜
                <br/>索</p>
            <div class="condition-query-box fn-right" ng-controller="conditionQuery">
                <form name="conditionQueryForm" class="form-inline" role="form">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">统计日期：</label>
                                <div>
                                    <input type="text" id="createStartDt" class="form-control modify-input" uib-datepicker-popup readonly ng-model="conditionQueryForm.createStartDt" is-open="startPopupOpened" min-date="minStartDate" max-date="maxStartDate" datepicker-options="startDateOptions" show-button-bar='false' />
                                    <span class="icon_time" ng-click="startOpen()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                                <!-- <div class="datepicker-text fn-left">至</div>
                                <div class="datepicker-input fn-left">
                                    <input type="text" id="createEndDt" class="form-control modify-input" uib-datepicker-popup readonly ng-model="conditionQueryForm.createEndDt" is-open="endPopupOpened" min-date="minEndDate" max-date="maxEndDate" datepicker-options="endDateOptions" show-button-bar='false' />
                                    <span class="icon_time" ng-click="endOpen()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group" ng-controller="cityCheckCtrl">
                                <label class="control-label">所属地区：</label>
                                <input type="text" class="form-control reduce-width" ng-model="checkedAreaName">
                                <button ng-click="cityClose()" type="submit" class="btn btn-sm btn-location"><i class="iconfont">&#xe6cb;</i></button>


                                <div class="city-check-box" ng-show="visible" ng-cloak>
                                    <div id="area-box">
                                        <div class="area-title">
                                            <button type="button" class="close iconfont area_cloese" ng-click="cityClose()">&#xe611;</button>
                                            <span class="area-title-choose">您选择了：</span>
                                            <div class="choose-area">
                                                <span ng-if="selectedProvince" ng-bind="selectedProvince"></span><span ng-if="selectedCity" ng-bind="selectedCity"></span><span ng-if="selectedArea" ng-bind="selectedArea"></span>
                                            </div>
                                        </div>

                                        <div class="area-list">
                                            <ul>
                                                <li ng-repeat="item in cityList" class="areaProvince" ng-click="selectProvince($index,item)" ng-class="{areaSelected:$index===selectedRow}">{{item.name}}
                                                    <ul>
                                                        <li ng-repeat="itemcity in item.child" class="areaProvince" ng-click="selectCity($index, itemcity)" ng-class="{areaSelected:$index===selectedRowb}">{{itemcity.name}}
                                                            <ul>
                                                                <li ng-repeat="itemarea in itemcity.child" ng-click="selectArea($index, itemarea)">{{itemarea.name}}</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="area-footer">
                                            <button class="btn btn-cancel" type="button" ng-click="cityClose()">关闭</button>
                                            <button class="btn btn-submit" type="button" ng-click="cityChecked()">确定
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="zhezhao" ng-click="clHide()" ng-show="visible" ng-cloak></div>
                            </div>
                        </div> 
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label">所属商户：</label>
                                <input type="text" class="form-control reduce-width">
                                <button type="submit" class="btn btn-sm btn-searching" ng-click="openStoreQueryType()"><i class="iconfont">&#xe600;</i></button>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div>
                                <button type="submit" class="btn btn-sm btn-stat-query"><i class="iconfont">&#xe600;</i> 查询</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- 结果列表 -->
        <div class="inventory-charts fn-clear">
            <div class="fn-left charts-box" ng-controller="inventoryCtrl">
                <div class="echartbox">
                    <brand-chart id="brand" legend="legend" data="data"></brand-chart>
                </div>
                <div class="terminal-table">
                    <table>
                        <thead>
                            <tr>
                                <th width="15%"></th>
                                <th><p class="textleft">品牌</p></th>
                                <th>库存量（台）</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in data">
                                <td>
                                    <p><span class="terminal-index" ng-bind="$index + 1"></span></p>
                                </td>
                                <td>
                                    <p class="textleft" ng-bind="item.name"></p>
                                </td>
                                <td>
                                    <p class="terminam-value" ng-bind="item.value"></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="fn-right charts-box" ng-controller="terminaltypeCtrl">
                <div class="echartbox">
                    <model-chart id="model" legend="legend" data="data"></model-chart>
                </div>
                <div class="terminal-table">
                    <table>
                        <thead>
                            <tr>
                                <th width="15%"></th>
                                <th><p class="textleft">机型</p></th>
                                <th>库存量（台）</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in data">
                                <td>
                                    <p><span class="terminal-index" ng-bind="$index + 1"></span></p>
                                </td>
                                <td>
                                    <p class="textleft" ng-bind="item.name"></p>
                                </td>
                                <td>
                                    <p class="terminam-value" ng-bind="item.value"></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- 选择门店 -->
        <script type="text/ng-template" id="storeQueryTypeModal.html">
            <div class="modal-header">
                <button type="button" class="close iconfont" ng-click="$ctrl.cancel()">&#xe611;</button>
                <h3 class="modal-title" id="serial-number-title"><img class="icon" src="../../resources/images/icon-list1.png">选择门店</h3>
            </div>
            <!-- 条件查询 -->
            <div class="condition-query fn-clear">
                <p class="condition-query-title fn-left">搜
                    <br/>索</p>
                <div class="condition-query-box fn-right">
                    <form name="conditionQueryForm" class="form-inline" role="form">
                        <div class="row mb10">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">门店名称：</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="control-label">商户名称：</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group" ng-controller="bouncedCityCheckCtrl">
                                    <label class="control-label">所在地区：</label>
                                    <input type="text" class="form-control" ng-model="checkedAreaName">
                                    <button ng-click="cityCheck()" type="submit" class="btn btn-sm btn-location"><i class="iconfont">&#xe6cb;</i></button>
                                    <div class="city-check-box" ng-show="visible">
                                        <uib-tabset active="key">
                                            <uib-tab index="1" heading="省份">
                                                <div class="city-content">
                                                    <li class="city-item" ng-class="{current: $index === provinceIndex}" ng-repeat="item in citys" ng-click="handleSelectCity('province', $index, item.areaId, item.areaName)">{{item.areaName}}</li>
                                                </div>
                                            </uib-tab>
                                            <uib-tab index="2" heading="城市">
                                                <div class="city-content">
                                                    <li class="city-item" ng-class="{current: $index === cityIndex}" ng-repeat="item in citys[provinceIndex].children" ng-click="handleSelectCity('city', $index, item.areaId, item.areaName)">{{item.areaName}}</li>
                                                </div>
                                            </uib-tab>
                                        </uib-tabset>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group text-right">
                                    <button type="submit" class="btn btn-sm btn-query btn-another"><i class="iconfont">&#xe600;</i> 查询</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- 结果列表 -->
            <div class="result-list">
                <div class="result-head">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="model-header">
                                <p class="model-title">选择门店</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="result-table">
                    <table class="table table-hover table-bordered grey-table">
                        <thead>
                            <tr>
                                <th width="10%">选择</th>
                                <th width="30%">门店名称</th>
                                <th>商户名称</th>
                                <th width="15%">省份</th>
                                <th width="15%">地区</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="radio" name="store">
                                </td>
                                <td>
                                    <p>杭州紫金店</p>
                                </td>
                                <td>
                                    <p>迪信通</p>
                                </td>
                                <td>
                                    <p>江苏</p>
                                </td>
                                <td>
                                    <p>南京</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="store" checked>
                                </td>
                                <td>
                                    <p>南京紫金店</p>
                                </td>
                                <td>
                                    <p>迪信通</p>
                                </td>
                                <td>
                                    <p>江苏</p>
                                </td>
                                <td>
                                    <p>南京</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="no-data" ng-if="queryTypeResultList && !queryTypeResultList.length" ng-cloak>
                        没有数据
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-submit" type="button" ng-disabled="isDisabled" ng-click="$ctrl.ok()">确定</button>
                <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">取消</button>
            </div>
        </script>
    </div>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/angular-touch.min.js"></script>
    <script src="../../resources/js/angular-animate.min.js"></script>
    <script src="../../resources/js/angular-aria.min.js"></script>
    <script src="../../resources/js/angular-locale_zh-cn.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/ui-bootstrap.js"></script>
    <script src="../../resources/js/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="../../resources/js/lodash.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../resources/js/echarts.min.js"></script>
    <script src="inventoryStatistics.js"></script>
</body>

</html>
