<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>库存量TOP5统计</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="inventoryStatistics.css">
</head>

<body ng-app="inventoryModule">
    <!-- DOM结构开始 -->
    <div class="inventory top-line wavy-line">
        <!-- 条件查询 -->
        <div class="alarm-query fn-clear" ng-controller="conditionQuery">
            <p class="alarm-query-title fn-left">搜
                <br/>索</p>
            <div class="condition-query-box fn-right">
                <form name="conditionQueryForm" ng-submit="queryFormSubmit()" class="form-inline" role="form">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">统计日期：</label>
                                <div class="datepicker-input fn-left">
                                    <input type="text" id="createStartDt" class="form-control modify-input" uib-datepicker-popup readonly ng-model="conditionQueryForm.createStartDt" is-open="startPopupOpened" min-date="minStartDate" max-date="maxStartDate" datepicker-options="startDateOptions" show-button-bar='false' />
                                    <span class="icon_time" ng-click="startOpen()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                                <div class="datepicker-text fn-left">至</div>
                                <div class="datepicker-input fn-left">
                                    <input type="text" id="createEndDt" class="form-control modify-input" uib-datepicker-popup readonly ng-model="conditionQueryForm.createEndDt" is-open="endPopupOpened" min-date="minEndDate" max-date="maxEndDate" datepicker-options="endDateOptions" show-button-bar='false' />
                                    <span class="icon_time" ng-click="endOpen()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group" ng-controller="cityCheckCtrl">
                                <label class="control-label">所属地区：</label>
                                <input type="text" class="form-control reduce-width" ng-model="checkedAreaName">
                                <button ng-click="cityClose()" type="submit" class="btn btn-sm btn-location"><i class="iconfont">&#xe6cb;</i></button>
                                <div class="city-check-box" ng-show="visible" ng-cloak>
                                    <div id="area-box">
                                        <div class="area-title">
                                            <button type="button" class="close iconfont area_cloese" ng-click="cityClose()">&#xe611;</button>
                                            <span class="area-title-choose">您选择了：</span>
                                            <div class="choose-area">
                                                <span ng-if="selectedProvince" ng-bind="selectedProvince"></span><span ng-if="selectedCity" ng-bind="selectedCity"></span><span ng-if="selectedArea" ng-bind="selectedArea"></span>
                                            </div>
                                        </div>
                                        <div class="area-list">
                                            <ul>
                                                <li ng-repeat="item in regionInfoList" class="areaProvince" ng-click="selectProvince($index,item)" ng-class="{areaSelected:$index===selectedRow}">{{item.regionName}}
                                                    <ul>
                                                        <li ng-repeat="itemcity in item.childrenCommon" class="areaProvince" ng-click="selectCity($index, itemcity)" ng-class="{areaSelected:$index===selectedRowb}">{{itemcity.regionName}}
                                                            <ul>
                                                                <li ng-repeat="itemarea in itemcity.childrenCommon" ng-click="selectArea($index, itemarea)">{{itemarea.regionName}}</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="area-footer">
                                            <button class="btn btn-cancel" type="button" ng-click="cityClose()">关闭</button>
                                            <button class="btn btn-submit" type="button" ng-click="cityChecked()">确定
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="zhezhao" ng-click="clHide()" ng-show="visible" ng-cloak></div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="control-label">所属商户：</label>
                                <input type="text" class="form-control reduce-width">
                                <button type="submit" class="btn btn-sm btn-searching" ng-click="openStoreQueryType()"><i class="iconfont">&#xe600;</i></button>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div>
                                <button type="submit" class="btn btn-sm btn-query"><i class="iconfont">&#xe600;</i> 查询</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- 结果列表 -->
        <div class="inventory-charts fn-clear">
            <div class="fn-left charts-box" ng-controller="inventoryCtrl">
                <div class="echartbox">
                    <brand-chart id="brand" legend="brandsLegend" data="brandsData"></brand-chart>
                </div>
                <div class="terminal-table">
                    <table>
                        <thead>
                            <tr>
                                <th width="15%"></th>
                                <th>
                                    <p class="textleft">品牌</p>
                                </th>
                                <th>库存量（台）</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in brandsData">
                                <td>
                                    <p><span class="terminal-index" ng-cloak ng-bind="$index + 1"></span></p>
                                </td>
                                <td>
                                    <p class="textleft" ng-bind="item.name"></p>
                                </td>
                                <td>
                                    <p class="terminam-value" ng-bind="item.value"></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="fn-right charts-box" ng-controller="terminaltypeCtrl">
                <div class="echartbox">
                    <model-chart id="model" legend="brandsLegend" data="brandsData"></model-chart>
                </div>
                <div class="terminal-table">
                    <table>
                        <thead>
                            <tr>
                                <th width="15%"></th>
                                <th>
                                    <p class="textleft">机型</p>
                                </th>
                                <th>库存量（台）</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in brandsData">
                                <td>
                                    <p><span class="terminal-index" ng-cloak ng-bind="$index + 1"></span></p>
                                </td>
                                <td>
                                    <p class="textleft" ng-bind="item.name"></p>
                                </td>
                                <td>
                                    <p class="terminam-value" ng-bind="item.value"></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/angular-touch.min.js"></script>
    <script src="../../resources/js/angular-animate.min.js"></script>
    <script src="../../resources/js/angular-aria.min.js"></script>
    <script src="../../resources/js/angular-locale_zh-cn.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/ui-bootstrap.js"></script>
    <script src="../../resources/js/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="../../resources/js/lodash.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../resources/js/mock.js"></script>
    <script src="../../resources/js/echarts.min.js"></script>
    <script src="inventoryStatistics.js"></script>
</body>

</html>
