<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>采购管理</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="addPurchase.css">
</head>

<body ng-app="addPurchaseModule">
    <!-- DOM结构开始 -->
    <div class="addPurchase top-line wavy-line">
        <!-- 入库单基本信息 -->
        <div class="purchase-infomation">
            <div class="model-header">
                <img class="model-img" src="../../resources/images/icon-list.png">
                <p class="model-title">采购入库单基本信息</p>
            </div>
            <div class="infomation-form">
                <form name="infomationForm" class="form-inline" role="form">
                    <div class="row dashed-line">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">单据号：</label>
                                <p class="detail-input">1000000000013641</p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">制单人：</label>
                                <p class="detail-input">韩晓辉</p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">制单日期：</label>
                                <p class="detail-input">2016-11-02 14:23:45</p>
                            </div>
                        </div>
                    </div>
                    <div class="row dashed-line">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">入库渠道单元：</label>
                                <select class="form-control">
                                    <option value="">全部</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label"><i class="iconfont">&#xe692;</i>入库仓库：</label>
                                <select class="form-control">
                                    <option value="">全部</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label"><i class="iconfont">&#xe692;</i>供应商：</label>
                                <select class="form-control">
                                    <option value="">全部</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="control-label">备注：</label>
                                <textarea col="" row="10" id="remarks" class="form-control edit-txt" ng-model="modifiedQueryType.remarks"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- 入库商品明细信息 -->
        <div class="result-list">
            <div class="result-head">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="model-header">
                            <img class="model-img" src="../../resources/images/icon-list.png">
                            <p class="model-title">采购入库商品明细信息</p>
                        </div>
                    </div>
                    <div class="col-xs-8 text-right">
                        <button class="btn btn-xs btn-set"><i class="iconfont">
                        &#xe60e;</i> 新增入库单
                    </div>
                </div>
            </div>
            <div class="result-table">
                <div class="result-table">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th width="12%">单据号</th>
                                <th width="18%">入库渠道单元</th>
                                <th>仓库</th>
                                <th width="8%">制单人</th>
                                <th width="10%">制单日期</th>
                                <th width="6%">状态</th>
                                <th width="18%">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p>1000000000013586</p>
                                </td>
                                <td>
                                    <p>中国电信@平庄镇北街区营业厅</p>
                                </td>
                                <td>
                                    <p class="overflow-handle" title="">社采礼品库（中国电信@平庄镇北街区营业厅</p>
                                </td>
                                <td>
                                    <p>韩晓辉</p>
                                </td>
                                <td>
                                    <p>2106-11-02</p>
                                </td>
                                <td>
                                    <p>生效</p>
                                </td>
                                <td>
                                    <button class="btn btn-xs btn-edit"><i class="iconfont">&#xe60b;</i> 详情
                                    </button>
                                    <button class="btn btn-xs btn-disabled" disabled><i class="iconfont">&#xe60d;</i> 修改
                                    </button>
                                    <button class="btn btn-xs btn-disabled" disabled><i class="iconfont">&#xe610;</i> 删除
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="no-data" ng-if="queryTypeResultList && !queryTypeResultList.length">
                        没有数据
                    </p>
                </div>
                <div ng-controller="paginationCtrl" class="text-center">
                    <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                </div>
            </div>
        </div>
        <script src="../../resources/js/angular.min.js"></script>
        <script src="../../resources/js/angular-touch.min.js"></script>
        <script src="../../resources/js/angular-animate.min.js"></script>
        <script src="../../resources/js/angular-aria.min.js"></script>
        <script src="../../resources/js/jquery.min.js"></script>
        <script src="../../resources/js/bootstrap.min.js"></script>
        <script src="../../resources/js/ui-bootstrap.js"></script>
        <script src="../../resources/js/ui-bootstrap-tpls-2.1.3.js"></script>
        <script src="../../resources/js/lodash.js"></script>
        <script src="../../resources/js/sweetalert.min.js"></script>
        <script src="addPurchase.js"></script>
</body>

</html>
