<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>账号绑定手机号</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link rel="stylesheet" href="../../resources/css/select.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="bindPhoneNumber.css">
</head>

<body>
    <div class="header-top"></div>
    <div class="bind-phone-title">账号绑定手机号</div>
    <div class="refund top-line wavy-line">
        <div class="step-content">
            <form id="modifyPwdForm" name="modifyPwdForm" novalidate>
                <div class="bind-area-lig">
                    <div class="bind-area">您能绑定的账号范围：<span>江苏省</span></div>
                </div>
                <div class="lig"><i class="iconfont">&#xe631;</i>
                    <input type="text" placeholder="请填写登录账号...">
                </div>
                <div class="lig"><i class="iconfont">&#xe667;</i>
                    <input type="text" placeholder="请填写需要绑定到账号上的手机号码...">
                </div>
                <button class="nextbtn">绑定</button>
            </form>
        </div>
    </div>
    <script src="bindPhoneNumber.js"></script>
</body>

</html>
