<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>商户管理</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="companyManage.css">
</head>

<body ng-app="companyManageModule">
    <!-- DOM结构开始 -->
    <div class="check top-line wavy-line">
        <!-- 条件查询 -->
        <div class="condition-query fn-clear">
            <p class="condition-query-title fn-left">搜
                <br/>索</p>
            <div class="condition-query-box fn-right">
                <form name="conditionQueryForm" class="form-inline" role="form">
                    <div class="row mb10">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">商户名称：</label>
                                <input type="text" class="form-control" placeholder="请输入单据号">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">商户编码：</label>
                                <input type="text" class="form-control" placeholder="请输入单据号">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group" ng-controller="cityCheckCtrl">
                                <label class="control-label">所在地区：</label>
                                <input type="text" class="form-control reduce-width" ng-model="checkedAreaName">
                                <button ng-click="cityCheck()" type="submit" class="btn btn-sm btn-location"><i class="iconfont">&#xe6cb;</i></button>
                                <div class="city-check-box" ng-show="visible">
                                    <uib-tabset active="key">
                                        <uib-tab index="1" heading="省份">
                                            <div class="city-content">
                                                <li class="city-item" ng-class="{current: $index === provinceIndex}" ng-repeat="item in citys" ng-click="handleSelectCity('province', $index, item.areaId, item.areaName)">{{item.areaName}}</li>
                                            </div>
                                        </uib-tab>
                                        <uib-tab index="2" heading="城市">
                                            <div class="city-content">
                                                <li class="city-item" ng-class="{current: $index === cityIndex}" ng-repeat="item in citys[provinceIndex].children" ng-click="handleSelectCity('city', $index, item.areaId, item.areaName)">{{item.areaName}}</li>
                                            </div>
                                        </uib-tab>
                                    </uib-tabset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">商户状态：</label>
                                <select class="form-control">
                                    <option value="">全部</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">对应经营主体编码：</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-xs-4 text-right">
                            <button type="submit" class="btn btn-sm btn-query"><i class="iconfont">&#xe600;</i> 查询</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- 结果列表 -->
        <div class="result-list">
            <div class="result-head">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="model-header">
                            <img class="model-img" src="../../resources/images/icon-list.png">
                            <p class="model-title">商户信息管理</p>
                        </div>
                    </div>
                    <div class="col-xs-8 text-right">
                        <button class="btn btn-xs btn-set"><i class="iconfont">
                        &#xe60e;</i> 新增商户</button>
                        <button class="btn btn-xs btn-set"><i class="iconfont">
                        &#xe610;</i> 批量删除</button>
                        <button class="btn btn-xs btn-set"><i class="iconfont">
                        &#xe613;</i> 批量启用</button>
                        <button class="btn btn-xs btn-set"><i class="iconfont">
                        &#xe612;</i> 批量停用</button>
                    </div>
                </div>
            </div>
            <div class="result-table">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th width="5%">选择</th>
                            <th width="12%">商户编码</th>
                            <th width="16%">商户名称</th>
                            <th>所属地区</th>
                            <th width="11%">商户状态</th>
                            <th width="11%">经营主体编码</th>
                            <th width="20%">备注</th>
                            <th width="12%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" name="checkbox{{$index}}" ng-click="check(item, isChecked)" ng-model="isChecked">
                            </td>
                            <td>
                                <p>100000009803</p>
                            </td>
                            <td>
                                <p class="overflow-handle" title="">望月路全网通门店</p>
                            </td>
                            <td>
                                <p>江苏-南京</p>
                            </td>
                            <td>
                                <p>正常</p>
                            </td>
                            <td>
                                <p>1039393939</p>
                            </td>
                            <td>
                                <p class="overflow-handle" title=""></p>
                            </td>
                            <td>
                                <button class="btn btn-xs btn-disabled" disabled><i class="iconfont">&#xe60d;</i> 修改
                                </button>
                                <button class="btn btn-xs btn-edit"><i class="iconfont">&#xe610;</i> 删除
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="no-data" ng-if="queryTypeResultList && !queryTypeResultList.length" ng-cloak>
                    没有数据
                </p>
            </div>
            <div ng-controller="paginationCtrl" class="text-center page">
                <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                <div class="page-num">共<span class="number">10</span>条记录，当前显示第<span class="number">1</span>页</div>
            </div>
        </div>
    </div>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/angular-touch.min.js"></script>
    <script src="../../resources/js/angular-animate.min.js"></script>
    <script src="../../resources/js/angular-aria.min.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/ui-bootstrap.js"></script>
    <script src="../../resources/js/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="../../resources/js/lodash.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="companyManage.js"></script>
</body>

</html>
