<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>订单退费</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="orderRefund.css">
</head>

<body ng-app="orderChargeModule">
    <!-- DOM结构开始 -->
    <div class="addReturned top-line wavy-line">
        <!-- 订单收费 -->
        <div class="purchase-infomation">
            <div class="model-header dashed-line">
                <img class="model-img" src="../../resources/images/icon-list.png">
                <p class="model-title">订单信息：</p>
            </div>
            <div class="history-detail-infomation">
                <div class="info-detail-form">
                    <form name="infomationForm" class="form-inline" role="form">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <p class="detail-msg"><span>订单号：</span>1000201611230086</p>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <p class="detail-msg"><span>客户名称：</span>王磊</p>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <p class="detail-msg"><span>号码：</span>18756342211</p>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <p class="detail-msg"><span>合约销售品：</span>乐享299</p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt10 dashed-line">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <p class="detail-msg"><span>受理员工：</span>张学东</p>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <p class="detail-msg"><span>受理渠道：</span>北大街营业厅</p>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <p class="detail-msg"><span>订单类型：</span>合约销售</p>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <p class="detail-msg"><span>订单日期：</span>2016-11-01</p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt15 high60 dashed-line">
                            <div class="col-xs-12">
                                <div class="form-group other">
                                    <p class="detail-msg fl"><span>订单销售的终端信息：</span></p>
                                    <div class="end fl">
                                       <p class="p1"><span>终端：</span>OPPO R9</p>
                                       <p class="p2"><span>串号：</span>Ac201923456</p>
                                    </div>
                                    <div class="end fl">
                                        <p class="p1"><span>终端：</span>VIVO M8</p>
                                        <p class="p2"><span>串号：</span>Ac201923433</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt15 pd10">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <p class="detail-msg fl"><span>卡项费用：</span></p>
                                    <div class="cost fl">
                                        <p class="pone"><span class="spone">卡费</span><span class="sptwo">金额：-10元</span><span class="spthree"><i class="iconfont green">&#xe62e;</i>已收费</span></p>
                                        <p class="pone"><span class="spone">手续费</span><span class="sptwo">金额：-10元</span><span class="spthree"><i class="iconfont green">&#xe62e;</i>已收费</span></p>
                                        <p class="pone"><span class="spone">终端费</span><span class="sptwo">金额：-10元</span><span class="spthree"><i class="iconfont org">&#xe646;</i>未收费</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- 订单收费列表 -->
            <div class="result-list">
                <div class="result-head">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="model-header">
                                <img class="model-img" src="../../resources/images/icon-list.png">
                                <p class="model-title">收银台：<span class="money">应收金额：<bold>¥4688.00</bold></span><span class="money">实收金额：<bold>¥4688.00</bold></span></p>          
                            </div>
                        </div>
                    </div>
                </div>
                <div class="result-table">
                    <div class="result-table">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th width="5%">序号</th>
                                    <th width="33%"><i class="iconfont red-star">&#xe692;</i>收款方式</th>
                                    <th width="30%"><i class="iconfont red-star">&#xe692;</i>金额</th>
                                    <th width="33%">单据号</th>                       
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>1</p>
                                    </td>
                                    <td>
                                        <p>现金</p>
                                    </td>
                                    <td>
                                        <input type="number" class="enter-input" value="688">
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>2</p>
                                    </td>
                                    <td>
                                        <p>pos机</p>
                                    </td>
                                    <td>
                                        <input type="number" class="enter-input" value="4000">
                                    </td>
                                    <td>
                                        <input type="number" class="enter-input" value="34568992123412">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="no-data" ng-if="queryTypeResultList && !queryTypeResultList.length">
                            没有数据
                        </p>
                    </div>
                </div>
            </div>
            <div class="reason">
                <div class="form-group another">
                    <label class="control-label"><span><i class="iconfont red-star">&#xe692;</i>收银员：王磊</span>备注：</label>
                    <textarea col="" row="20" id="remarks" class="form-control edit-txt"></textarea>
                </div>
                <div class="text-center">
                    <button ng-click="" ng-disabled="isForbid" class="btn btn-submit">确定</button>
                    <button ng-click="" ng-disabled="isForbid" class="btn btn-cancel">取消</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/angular-touch.min.js"></script>
    <script src="../../resources/js/angular-animate.min.js"></script>
    <script src="../../resources/js/angular-aria.min.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/ui-bootstrap.js"></script>
    <script src="../../resources/js/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="../../resources/js/lodash.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="orderRefund.js"></script>
</body>