<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>采购管理</title>
    <link rel="stylesheet" href="../../resources/css/sweetalert.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../resources/css/reset.css">
    <link rel="stylesheet" href="../../resources/css/common.css">
    <link rel="stylesheet" href="alarmSetting.css">
</head>

<body ng-app="alarmSettingModule">
    <!-- DOM结构开始 -->
    <div class="alarmSetting top-line wavy-line" ng-controller="detailCheckModalCtrl as $ctrl">
        <!-- 条件查询 -->
        <div class="condition-query fn-clear" ng-controller="conditionQuery">
            <p class="condition-query-title fn-left">搜
                <br/>索</p>
            <div class="condition-query-box fn-right">
                <form name="conditionQueryForm" class="form-inline" role="form">
                    <div class="row mb10">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">门店名称：</label>
                                <p class="detail-input depict">中国电信@平庄镇北街区营业厅</p>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">仓库名称：</label>
                                <select class="form-control">
                                    <option value="">全部</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">商品编码：</label>
                                <select class="form-control">
                                    <option value="">全部</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">商品品牌：</label>
                                <select class="form-control">
                                    <option value="">全部</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="control-label">商品名称：</label>
                                <select class="form-control">
                                    <option value="">全部</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group query-submit">
                                <label class="control-label">商品类别：</label>
                                <select class="form-control">
                                    <option value="">全部</option>
                                </select>
                                <button type="submit" class="btn btn-sm btn-query"><i class="iconfont">&#xe600;</i> 查询</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- 结果列表 -->
        <div class="result-list">
            <div class="result-head">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="model-header">
                            <img class="model-img" src="../../resources/images/icon-list.png">
                            <p class="model-title">库存预警设置信息表</p>
                        </div>
                    </div>
                    <div class="col-xs-8 text-right">
                        <button class="btn btn-xs btn-set"><i class="iconfont">
                        &#xe60e;</i> 添加新预警设置</button>
                    </div>
                </div>
            </div>
            <div class="result-table" ng-controller="resultCtrl">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th width="12%">门店名称</th>
                            <th>仓库名称</th>
                            <th width="12%">商品编码</th>
                            <th width="12%">商品名称</th>
                            <th width="8%">商品类别</th>
                            <th width="12%">商品型号</th>
                            <th width="8%">标准库存</th>
                            <th width="8%">最高库存</th>
                            <th width="8%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p>鼓楼营业厅</p>
                            </td>
                            <td>
                                <p class="overflow-handle" title="">鼓楼第一仓库</p>
                            </td>
                            <td>
                                <p>10023111</p>
                            </td>
                            <td>
                                <p>小米3白色</p>
                            </td>
                            <td>
                                <p>手机</p>
                            </td>
                            <td>
                                <p>小米3 电信版 </p>
                            </td>
                            <td>
                                <p>100</p>
                            </td>
                            <td>
                                <p>200</p>
                            </td>
                            <td>
                                <button ng-click="editQueryType($index, item)" class="btn btn-xs btn-edit"><i class="iconfont">&#xe60d;</i> 修改
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="no-data" ng-if="queryTypeResultList && !queryTypeResultList.length" ng-cloak>
                    没有数据
                </p>
            </div>
            <div ng-controller="paginationCtrl" class="text-center page">
                <ul uib-pagination total-items="totalNum" items-per-page="rowNumPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" rotate="false" first-text="首页" last-text="尾页" previous-text="<" next-text=">"></ul>
                <div class="page-num">共<span class="number">10</span>条记录，当前显示第<span class="number">1</span>页</div>
            </div>
        </div>
        <!-- 修改库存弹框 -->
        <script type="text/ng-template" id="serialNumberModal.html">
            <div class="modal-header">
                <button type="button" class="close iconfont" ng-click="$ctrl.cancel()">&#xe611;</button>
                <h3 class="modal-title" id="serial-number-title"><img class="icon" src="../../resources/images/icon-list1.png">修改库存</h3>
            </div>
            <div class="history-detail-infomation">
                <div class="model-header">
                    <p class="model-detail-title">商品信息</p>
                </div>
                <div class="info-detail-form">
                    <form name="infomationForm" class="form-inline" role="form">
                        <div class="row dashed-line">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <p class="detail-msg"><span>商品编码：</span>1000231</p>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <p class="detail-msg"><span>门店名称：</span>鼓楼营业厅</p>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <p class="detail-msg"><span>仓库名称：</span>鼓楼第一仓库</p>
                                </div>
                            </div>
                        </div>
                        <div class="row high30">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <p class="detail-msg"><span>商品名称：</span>小米3白色</p>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <p class="detail-msg"><span>商品类别：</span>手机</p>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <p class="detail-msg"><span>商品型号：</span>小米3 电信版 </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="serial-number-list">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label">标准库存：</label>
                            <input type="number" class="form-control">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label">最高库存：</label>
                            <input type="number" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-cancel" type="button" ng-click="$ctrl.cancel()">关闭</button>
                <button class="btn btn-submit" type="button" ng-click="$ctrl.ok()">确定</button>
            </div>
        </script>
    </div>
    <script src="../../resources/js/angular.min.js"></script>
    <script src="../../resources/js/angular-touch.min.js"></script>
    <script src="../../resources/js/angular-animate.min.js"></script>
    <script src="../../resources/js/angular-aria.min.js"></script>
    <script src="../../resources/js/jquery.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/ui-bootstrap.js"></script>
    <script src="../../resources/js/ui-bootstrap-tpls-2.1.3.js"></script>
    <script src="../../resources/js/lodash.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="alarmSetting.js"></script>
</body>

</html>
